*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 1rem;
    width: 100vw;
    height: 100vw;
}

.float-opt.opt-text{
    padding: .6rem 1.2rem;
    background-color: blue;
    border: none;
    opacity: 0.9;
    cursor: pointer;
    transition: 0.4s;
}

#fade-atras-cp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal-criar-post{
    width: 50vw;
    border-radius: 0.3vw;
    background-color: aliceblue;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.modal-header{
    display: flex;
}