@media only screen and (max-width: 480px){
    * {
        font-family: Heavitas;
        padding: 0;
        margin: 0;
      }
    
      @font-face {
        font-family: Heavitas;
        src: url("../fonts/Heavitas.ttf");
      }
    
      @font-face {
        font-family: Fira Sans Bold;
        src: url("../fonts/fira-sans.bold.ttf");
      }
    
      @font-face {
        font-family: Fira Sans;
        src: url("../fonts/fira-sans.regular.ttf");
      }
    
      .conteudo.mobile {
        display: block;
        width: 100vw;
      }
    
      .conteudo.desktop {
        display: none;
      }

    /*basepost*/
  #pinterest-style {
    margin-top: 5vw;
    height: 320vw;
  }

  .pinterest-style-class{
    margin-left: -7vw;
  }

  #primeira-fileira-posts {
    position: relative;
    display: inline-grid;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  #segunda-fileira-posts {
    position: absolute;
    display: inline-grid;
    flex-direction: column;
  }

#primeira-fileira-posts-em-alta {
  position: absolute;
  display: inline-grid;
  flex-direction: column;
}

#segunda-fileira-posts-em-alta {
  position: relative;
  display: inline-grid;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
}

  #base-post {
    width: 46.93vw;
    display: block;
  }

  /*parte PARA TODOS de baixo do post*/
  #icon-post {
    width: 4.8vw;
    height: 4.8vw;
    display: inline-block;
    margin-left: 1vw;
  }
  
  #icon-salvar-vazado {
    width: 6.6vw;
    height: 6.66vw;
    margin-top: 3.73vw;
    margin-left: 2.5vw;
  }

  #descri-icon {
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 13px;
    color: #333333;
    line-height: normal;
    display: inline-block;
  }

  #post {
    position: relative;
  }

  #plongpress {
    width: 32vw;
    height: 24vw;
    margin-top: 3.2vw;
    margin-left: 3.5vw;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #long-cima {
    display: flex;
  }

  #icon-limpeza-longpress {
    width: 9.86vw;
    height: 9.86vw;
  }

  #icon-culinaria-longpress {
    width: 7.86vw;
    height: 7.86vw;
    margin-top: 1vw;
  }

  #texto-longpress {
    width: 90vw;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
  }

  #post-pergunta {
    position: relative;
  }

  #post-bolin-de-chuva {
    position: relative;
  }

  #post-cachos {
    position: relative;
  }

  /*FIM parte de baixo do post*/


  /*1 POST DISPENSA - FILEIRA 1*/
  #dispensa {
    width: 46.93vw;
    height: 45.86vw;
  }

  #descri-post {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 34vw;
    width: 40vw;
  }

  #sombra {
    top: 23.46vw;
    width: 46.93vw;
    height: 22.66vw;
    opacity: 0.4;
    padding: 0.53vw 0.53vw 0.53vw 0.53vw;
    border-radius: 1.33vw;
    background-image: linear-gradient(-180deg, rgba(242, 242, 242, 0) 0%, #000000 95%);
    box-sizing: border-box;
    position: absolute;
  }

  #post-baixo {
    height: 7vw;
    padding: 1vw 2vw 2vw 0vw;
    justify-content: space-around;
  }

  #post-dispensa-fileira1 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-dispensa-fileira1 {
    background-color: #027de187;
    width: 46.93vw;
    height: 45.86vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #long-baixo {
    display: flex;
    margin-top: 33vw;
    margin-left: -42vw;
  }

  /*FINAL 1 POST DISPENSA - FILEIRA 1*/

  /*2 PERGUNTA LAVAR ROUPA - FILEIRA 1*/
  #text-pergunta {
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: black;
    left: 3vw;
    top: 3vw;
    width: 40vw;
    position: absolute;
  }

  #fundoperg {
    top: 23.46vw;
    width: 46.93vw;
    height: 22.66vw;
    opacity: 0.4;
    padding: 0.53vw 0.53vw 0.53vw 0.53vw;
    border-radius: 1.33vw;
    background-color: #8c8c8c;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  #post-perg {
    display: grid;
    grid-template-columns: auto auto;
  }

  #post-baixo-h {
    height: 7vw;
    padding: 2vw 2vw 2.66vw 0vw;
    justify-content: space-around;
  }

  /*FINAL 2 PERGUNTA LAVAR ROUPA - FILEIRA 1*/

  /*3 POST BOLINHO DE CHUVA - FILEIRA 1*/
  #bolin {
    width: 46.93vw;
    height: 82.93vw;
  }

  #sombra-a {
    top: 60.53vw;
    width: 46.93vw;
    height: 22.66vw;
    opacity: 0.4;
    padding: 0.53vw 0.53vw 0.53vw 0.53vw;
    border-radius: 1.33vw;
    background-image: linear-gradient(-180deg, rgba(242, 242, 242, 0) 0%, #000000 95%);
    box-sizing: border-box;
    position: absolute;
  }

  #post-baixo-a {
    height: 7vw;
    padding: 1vw 2vw 2.66vw 0vw;
    justify-content: space-around;
  }

  #descri-post-a {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 70.30vw;
    width: 40vw;
  }

  #post-bolin-fileira1 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-bolin-fileira1 {
    margin-top: 92vw;
    background-color: #cb1155a1;
    width: 46.93vw;
    height: 82.93vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #bolin-long-baixo {
    display: flex;
    margin-top: 69vw;
    margin-left: -41vw;
  }

  /*FIM 3 POST BOLINHO DE CHUVA - FILEIRA 1*/

  /*4 POST CACHOS - FILEIRA 1*/
  #cachos {
    width: 46.93vw;
    height: 63.2vw;
  }

  #descri-post-cachos-fileira1 {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 50.30vw;
    width: 40vw;
  }

  #sombra-b {
    top: 40.26vw;
    width: 46.93vw;
    height: 22.66vw;
    opacity: 0.4;
    padding: 0.53vw 0.53vw 0.53vw 0.53vw;
    border-radius: 1.33vw;
    background-image: linear-gradient(-180deg, rgba(242, 242, 242, 0) 0%, #000000 95%);
    box-sizing: border-box;
    position: absolute;
  }

  #post-cachos-fileira1 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-cachos-fileira1 {
    width: 46.93vw;
    height: 63.2vw;
    background-color: #00cd82a4;
    margin-top: 186.5vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #cachos-long-baixo {
    display: flex;
    margin-top: 50vw;
    margin-left: -42vw;
  }

  /*FIM 4 POST CACHOS - FILEIRA 1*/

  /*DESCRIÇÃO POSTS - FILEIRA 2 (A FORMATAÇÃO DO RESTO É A MESMA)*/
  #post-baixo-c {
    height: 7vw;
    padding: 1vw 2vw 2.66vw 0vw;
    justify-content: space-around;
  }

  #post-baixo-e {
    height: 7vw;
    padding: 1vw 2vw 2.66vw 0vw;
    justify-content: space-around;
  }

  #post-baixo-f {
    height: 7vw;
    padding: 0vw 1vw 2vw 0vw;
    justify-content: space-around;
  }

  /*FIM DESCRIÇÃO POSTS - FILEIRA 2*/

  /* 1 POST CACHOS - FILEIRA 2 */
  #descri-post-cachos-fileira2 {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 50.30vw;
    width: 40vw;
  }

  #post-cachos-fileira2 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-cachos-fileira2 {
    width: 46.93vw;
    height: 63.2vw;
    background-color: #00cd82a4;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #cachos2-long-baixo {
    display: flex;
    margin-top: 50vw;
    margin-left: -42vw;
  }

  /* 1 POST CACHOS - FILEIRA 2 */

  /* 2 POST BOLO DE CENOURA - FILEIRA 2 */
  #descri-post-bolo-de-cenoura {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 34vw;
    width: 40vw;
  }

  #post-bolo-de-cenoura-fileira2 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-bolo-de-cenoura-fileira2 {
    width: 46.93vw;
    height: 45.86vw;
    background-color: #cb1155a1;
    margin-top: 73.5vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #bolo-de-cenoura-long-baixo {
    display: flex;
    margin-top: 34vw;
    margin-left: -42vw;
  }

  /* FINAL 2 POST BOLO DE CENOURA - FILEIRA 2 */

  /* 3 POST BOLINHO DE CHUVA - FILEIRA 2 */
  #descri-post-bolin-fileira2 {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 70.30vw;
    width: 40vw;
  }

  #post-bolin-fileira2 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-bolin-fileira2 {
    margin-top: 166vw;
    background-color: #cb1155a1;
    width: 46.93vw;
    height: 82.93vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #bolin2-long-baixo {
    display: flex;
    margin-top: 69vw;
    margin-left: -41vw;
  }

  /* FINAL 3 POST BOLINHO DE CHUVA - FILEIRA 2 */

  /* 3 POST DISPENSA - FILEIRA 2 */
  #descri-post-dispensa-fileira2 {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 34vw;
    width: 40vw;
  }

  #post-dispensa-fileira2 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-dispensa-fileira2 {
    margin-top: 260.5vw;
    background-color: #027de187;
    width: 46.93vw;
    height: 45.86vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #long-baixo-dispensa-fileira2 {
    display: flex;
    margin-top: 33vw;
    margin-left: -42vw;
  }

  /* 3 POST DISPENSA - FILEIRA 2 */

  /*fim basepost*/
}