@media only screen and (min-width: 721px) {
    * {
        font-family: Heavitas;
        padding: 0;
        margin: 0;
    }

    @font-face {
        font-family: Heavitas;
        src: url("../fonts/Heavitas.ttf");
    }

    @font-face {
        font-family: Fira Sans Bold;
        src: url("../fonts/fira-sans.bold.ttf");
    }

    @font-face {
        font-family: Fira Sans;
        src: url("../fonts/fira-sans.regular.ttf");
    }

    .header-dispositivo-mobile {
        display: none;
    }

    .header-dispositivo-desktop {
        display: block;
    }

    #fade-atras-cp,
    #modal-criar-post {
        transition: .5s;
        opacity: 1;
        pointer-events: all;
    }

    #fade-atras-cp {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vw;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1000;
    }

    #modal-criar-post {
        width: 60.31vw;
        height: 36.14vw;
        box-sizing: border-box;
        border-radius: 0.3vw;
        background-color: #f2f2f2;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        overflow: hidden;
    }

    .modal-header {
        display: flex;
    }

    #modal-criar-post.hidden,
    #fade-atras-cp.hidden {
        opacity: 0;
        pointer-events: none;
    }

    #modal-criar-post.hidden {
        top: 0;
    }

    .modal-header {
        margin-top: 1.35vw;
    }

    #criar-post-titulo {
        font-size: 140%;
        margin-left: 1.04lvw;
        font-family: "Heavitas", sans-serif;
        color: #4d16bb;
        text-align: left;
    }

    #gato-criar-post {
        width: 1.92vw;
        height: 1.92vw;
        margin-left: 2.18vw;
    }

    #close-modal-criar-post {
        margin-left: 36vw;
        font-size: 140%;
        font-family: "Heavitas", sans-serif;
        color: #4d16bb;
    }

    #criar-post-etapas {
        margin-top: 0.93vw;
    }

    .linha-baixo {
        width: 60.31vw;
        height: 0.677vw;
        background-image: linear-gradient(89.9984726943774deg, #ffa462 0%, #9d21cb 48.6110592628467%, #4d16bb 99.2062434669349%);
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        transform: rotate(180deg);
    }

    #progresso {
        box-shadow: 0 0 0.52vw 0.8vw rgba(225, 225, 225, 0.904);
        width: 60.31vw;
        height: 0.677vw;
        padding: 2px 2px 2px 2px;
        background-color: #d7d7d7;
        box-sizing: border-box;
        position: absolute;
    }

    /* Estilos para a lista de tarefas */
    .lista-tarefas {
        display: flex;

    }

    /* Estilos para as tarefas */
    .tarefa {
        font-size: 80%;
        font-weight: 600;
        border: none;
        margin-top: 0.6vw;
    }

    #agrupamento-conteudo {
        padding: 0;
        margin: 0;
    }

    #conteudoTarefa1 {
        left: 0;
        transform: translateX(0%);
        position: absolute;
    }

    #conteudoTarefa2 {
        left: 0;
        transform: translateX(100%);
        position: absolute;
    }

    #conteudoTarefa3 {
        left: 0;
        transform: translateX(100%);
        position: absolute;
    }

    #bolinhas-atras {
        width: 20vw;
        color: #d6d6d6;
        font-weight: 700;
        font-size: 80%;
        position: absolute;
        left: 21vw;
        padding-top: 0.78vw;
    }

    #numero-do-elemento {
        width: 1.92vw;
        height: 1.5vw;
        border-radius: 5.20vw;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        text-align: center;
        padding-top: 0.3vw;
        margin-right: 0.5vw;
        display: inline-block;
    }

    .detalhes-numero {
        background-color: #4d16bb;
        color: white;
    }

    .elementos-numero {
        background-color: #921FC9;
        color: white;
    }

    .midias-numero {
        background-color: #CB218C;
        color: white;
    }

    #detalhes {
        background-color: #f2f2f2;
        width: 9vw;
        height: 2vw;
        box-sizing: border-box;
        font-family: "Heavitas", sans-serif;
        color: #4d16bb;
        text-align: left;
        line-height: normal;
        margin-left: 12.13vw;
    }

    #elementos {
        padding-left: 0.3vw;
        background-color: #f2f2f2;
        width: 10vw;
        height: 2vw;
        box-sizing: border-box;
        font-family: "Heavitas", sans-serif;
        color: #921FC9;
        text-align: left;
        line-height: normal;
        margin-left: 7%;
        z-index: 2;
    }

    #midias {
        background-color: #f2f2f2;
        width: 9vw;
        height: 2vw;
        box-sizing: border-box;
        font-family: "Heavitas", sans-serif;
        color: #CB218C;
        text-align: left;
        line-height: normal;
        margin-left: 7%;
    }

    .conteudo {
        width: 60.31vw;
        height: 23.33vw;
        margin-top: 1.82vw;
        padding-left: 7.23vw;
        transition: transform 0.5s ease-in-out;
    }

    #titulo-detalhes {
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        color: #333333;
        font-size: 100%;
    }

    #input-titulo-da-postagem {
        width: 45.52vw;
        height: 3.02vw;
        padding: 0.53vw 0.53vw 0.53vw 0.53vw;
        border-radius: 0.26vw;
        border: 0.09vw solid #797979;
        background-color: #f2f2f2;
        box-sizing: border-box;
        margin-top: 0.88vw;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        color: #333333;

        &:focus {
            outline: 2px solid #CB218C;
            border: none;
        }
    }

    #icon-seta-select {
        margin-left: -2.4vw;
        transform: rotate(180deg);
    }

    #dialogoselect {
        width: 22.08vw;
        height: 3.02vw;
        background-image: url(../imagens/seta-select.png);
        background-position-x: 96%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        padding: 0.53vw 0.53vw 0.53vw 0.53vw;
        border-radius: 0.26vw;
        border: 0.09vw solid #797979;
        background-color: #f2f2f2;
        box-sizing: border-box;
        margin-top: 0.88vw;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        color: #333333;
        outline: none;

        &:focus {
            background-image: url(../imagens/seta-select.svg);
            background-position-x: 96%;
            background-position-y: 50%;
            background-repeat: no-repeat;

            &::-webkit-input-placeholder {
                color: #cb218c;
                padding-right: -10%
            }

            ;

            input#dialogoselect::-moz-placeholder {
                color: #cb218c;
            }

            ;
            border: 2px #CB218C solid;
            border-bottom: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    ::-webkit-input-placeholder {
        color: #333;
    }

    input#dialogoselect::-moz-placeholder {
        color: #333;
    }

    .dropDown {
        width: 22.08vw;
        box-sizing: border-box;
        border-radius: 0.26vw;
        background-color: #e2e2e2;
        font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
        font-weight: 700;
        font-size: 80%;
        border: 2px #cb218c solid;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: none;
    }

    #icon-dropdown {
        width: 8vw;
        height: 8vw;
        position: absolute;
        margin-left: -2.5vw;
    }

    .item-select-detalhes {
        width: 21vw;
        height: 2vw;
        background-color: #e2e2e2;
        font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
        font-size: 100%;
        color: #333333;
        cursor: pointer;
        position: relative;
        padding-top: 0.8vw;
        padding-left: 0.7vw;
    }

    .dialogoselect.categoria-culinaria {
        background-color: #cb2154;
        color: #ffff;
    }

    .dialogoselect.categoria-limpeza {
        background-color: #027de1;
        color: #ffff;
    }

    .dialogoselect.categoria-bemestar {
        background-color: #00cd83;
        color: #ffff;
    }

    #item-select-detalhes-1 {
        &:hover {
            background-color: #cb2154;
            color: white;
        }
    }

    #item-select-detalhes-2 {
        &:hover {
            color: white;
            background-color: #027de1;
        }
    }

    #item-select-detalhes-3:hover {
        color: white;
        background-color: #00cd83;
    }

    #tempo-resultado-detalhes {
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        color: #333333;
        text-align: left;
        line-height: normal;
        color: #333333;
        font-size: 140%;
        margin-left: 6.4%;
        margin-top: 8vw;
    }

    #imagem-tempo-detalhes {
        width: 9.06vw;
        height: 9.06vw;
        margin-bottom: -2%;
        padding: 2px 2px 2px 2px;
        box-sizing: border-box;
        fill: #909090;
    }

    #imagem-tempo-detalhes-porcoes {
        width: 9.06vw;
        height: 9.06vw;
        margin-bottom: -4%;
        padding: 2px 2px 2px 2px;
        box-sizing: border-box;
        fill: #909090;
    }

    #tempo-detalhes {
        appearance: none;
        margin-top: 5.6vw;
        margin-left: 8.2vw;
        display: inline-block;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        color: #333333;
        text-align: left;
    }

    #tempo-detalhes-porcoes {
        appearance: none;
        margin-top: 5.6vw;
        margin-left: 8.2vw;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        color: #333333;
        text-align: left;
        display: none;
    }

    #horas-tempo-detalhes {
        width: 9.06vw;
        height: 9.33vw;
        border: 0;
        border-bottom: 1px solid #d7d7d7;
        font-family: "Arial", sans-serif;
        font-size: 124%;
        color: #adadad;
        box-sizing: border-box;
        padding-left: 1.3vw;
        padding-bottom: 2vw;
        margin-left: 2.93vw;
        margin-right: 2vw;

        &::-webkit-input-placeholder {
            color: #adadad;
        }

        ;

        input#dialogoselect::-moz-placeholder {
            color: #adadad;
        }

        ;

        &:focus {
            outline: 0;
            border-bottom: 2px #CB218C solid;
            color: #000;

            &::-webkit-input-placeholder {
                color: #cb218c;
            }

            ;

            input#dialogoselect::-moz-placeholder {
                color: #cb218c;
            }

            ;
        }
    }

    #btnAvancar {
        width: 11.09vw;
        height: 2.13vw;
        font-size: 90%;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        padding: 2px 2px 2px 2px;
        border-radius: 5px;
        background-image: linear-gradient(89.99098801485042deg, #4d16bb 0%, #9d21cb 99.20266782940685%);
        color: #ffffff;
        text-align: center;
        border: none;
        margin-left: 52vw;
        position: relative;
    }

    #btnVoltar {
        width: 11.09vw;
        height: 2.13vw;
        padding: 0.53vw 0.53vw 0.53vw 0.53vw;
        border-radius: 0.260vw;
        border: 1px solid #4d16bb;
        background-color: #f2f2f2;
        box-sizing: border-box;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        font-size: 90%;
        color: #4d16bb;
        text-align: center;
        line-height: normal;
        margin-left: 5vw;
        position: absolute;
    }
}