@media only screen and (max-width: 480px) {

    .titulo-categoria{
        line-height: center;
        width: 40%;
        height: 3%;
        padding: 2px 2px 2px 2px;
        border-radius: 5px;
        background-color: #cb1154;
        box-sizing: border-box;
        margin-left: 10%;
        display: flex;
        margin-top: 5%;
    }
    .icon-culinaria{
        width: 20%;
        margin-left: 2%;
    }
    .titulo-culinaria{
        margin-left: 11%;
        font-size: 80%;
        position: absolute;
        color: white;
        font-family: Heavitas;
        font-weight: 400;
        margin-top: 2.3%;
    }
    .titulos-post{
        margin-left: 10%;
        margin-top: 5%;
        margin-right: 10%;
    }
    .titulo-user {
        font-size: 15px;
        font-family: "Fira Sans", sans-serif;
        display: inline;
        color: #333333;
    }
    .titulo-principal{
        font-size: 22px;
        font-family: Heavitas;
        color: #333333;
        font-weight: 400;
        margin-top: 3%;
    }
    .info-post{
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
        justify-content: space-between;
        display: flex;
    }
    .tempo{
        display: inline;
    }
    .tempo-post{
        height: 26px;
    }
    .avaliacao{
        display: inline;
    }
    .avalia-post{
        height: 26px;
    }
    .porcoe{
        display: inline;
        align-content: right;
    }
    .porcao-post{
        height: 26px;
    }
    .texto-info{
        display: inline;
        font-size: 26px;
        font-family: "Fira Sans", sans-serif;
        color: #333333;
    }
    .descricao-post{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 14px;
    }
    .descricao{
        font-family: "Fira Sans", sans-serif;
        text-align: justify;
        color: #333333;
        margin-top: 3%;
        line-height: 100%;
    }
    .hashtags{
        margin-top: 3%;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        padding: 4% 5% 4% 5%;
        color: #cb1154;
        background-color: #f2f2f2;
        border-radius: 0 0 15px 0;
    }
    .hashtags-texto{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
    }
    .Itens-necessários{
        background-color: #cb2154;
        margin: 5% 10% 0 10%;
        border-radius: 5px 5px 5px 5px;
        padding: 5% 5% 5% 5%;
    }
    .itens-titulo{
        color: white;
        font-weight: 400;
        font-size: 22px;
    }
    .lista-itens{
        margin-top: 5%;
        font-family: "Fira Sans", sans-serif;
        margin-left: 5%;
    }
    .item-1{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 500;
        color: white;
        background: none;
        border: none;
        text-decoration: none;
        text-align: left;
    }
    .item-1:active{
        transition: 1s;
    }
    .info-item{
        background-color: #a20f45;
        margin-left: -10%;
        margin-top: -10%;
        text-align: left;
        width: 109%;
        border-radius: 0 0 10px 10px;
        height: 50px;
        padding: 14% 3% 5% 2%;
        display: flex;
    }
    .icon-colher{
        width: 50px;
        height: 50px;
        display: block; 
        margin-right: 3%;
    }
    .titulo-colher{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        height: 0;
        font-size: 13px;
        text-decoration: none;
    }
    .myDIV{
        display: none;
    }
    .info-texto{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-size: 12px;
        text-decoration: none;
    }
    .lista-info-1{
        margin-top: 10%;
        margin-left: 10%;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif
    }
    .lista-info-2{
        margin-left: 10%;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif
    }
    .item-2{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 500;
        color: white;
        background: none;
        border: none;
        text-decoration: none;
        margin-top: 4%;
        text-align: left;
    }
    .myDIV2{
        display: none;
    }
    .icon-xicara-cha{
        width: 50px;
        height: 50px;
        display: block; 
        margin-right: 2%;
        margin-left: 2%;
    }
    .info-item2{
    background-color: #a20f45;
        margin-left: -10%;
        margin-top: -10%;
        text-align: left;
        width: 109%;
        border-radius: 0 0 10px 10px;
        height: 50px;
        padding: 14% 3% 5% 2%;
        display: flex;
    }
    .myDIV3{
        display: none;
    }
    .item-3{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 500;
        color: white;
        background: none;
        border: none;
        text-decoration: none;
        margin-top: 4%;
        text-align: left;
    }
    .info-item3{
    background-color: #a20f45;
        margin-left: -10%;
        margin-top: -10%;
        text-align: left;
        width: 109%;
        border-radius: 0 0 10px 10px;
        height: 50px;
        padding: 14% 3% 5% 2%;
        display: flex;
    }
    .myDIV4{
        display: none;
    }
    .item-4{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 500;
        color: white;
        background: none;
        border: none;
        text-decoration: none;
        margin-top: 4%;
        text-align: left;
    }
    .info-item4{
    background-color: #a20f45;
        margin-left: -10%;
        margin-top: -10%;
        text-align: left;
        width: 109%;
        border-radius: 0 0 10px 10px;
        height: 50px;
        padding: 14% 3% 5% 2%;
        display: flex;
    }
    .myDIV5{
        display: none;
    }
    .item-5{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 500;
        color: white;
        background: none;
        border: none;
        text-decoration: none;
        margin-top: 4%;
        text-align: left;
    }
    .info-item5{
    background-color: #a20f45;
        margin-left: -10%;
        margin-top: -10%;
        text-align: left;
        width: 109%;
        border-radius: 0 0 10px 10px;
        height: 50px;
        padding: 14% 3% 5% 2%;
        display: flex;
    }
    .myDIV6{
        display: none;
    }
    .item-6{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 500;
        color: white;
        background: none;
        border: none;
        text-decoration: none;
        margin-top: 4%;
        text-align: left;
    }
    .info-item6{
    background-color: #a20f45;
        margin-left: -10%;
        margin-top: -10%;
        text-align: left;
        width: 109%;
        border-radius: 0 0 10px 10px;
        height: 50px;
        padding: 14% 3% 5% 2%;
        display: flex;
    }
    .myDIV7{
        display: none;
    }
    .item-7{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 500;
        color: white;
        background: none;
        border: none;
        text-decoration: none;
        margin-top: 4%;
        text-align: left;
    }
    .info-item7{
    background-color: #a20f45;
        margin-left: -10%;
        margin-top: -10%;
        text-align: left;
        width: 109%;
        border-radius: 0 0 10px 10px;
        height: 50px;
        padding: 14% 3% 5% 2%;
        display: flex;
    }

    .myDIV8{
        display: none;
    }
    .item-8{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 500;
        color: white;
        background: none;
        border: none;
        text-decoration: none;
        margin-top: 4%;
        text-align: left;
    }
    .info-item8{
    background-color: #a20f45;
        margin-left: -10%;
        margin-top: -10%;
        text-align: left;
        width: 109%;
        border-radius: 0 0 10px 10px;
        height: 50px;
        padding: 14% 3% 5% 2%;
        display: flex;
    }
    .myDIV9{
        display: none;
    }
    .item-9{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 500;
        color: white;
        background: none;
        border: none;
        text-decoration: none;
        margin-top: 4%;
        text-align: left;
    }
    .info-item9{
    background-color: #a20f45;
        margin-left: -10%;
        margin-top: -10%;
        text-align: left;
        width: 109%;
        border-radius: 0 0 10px 10px;
        height: 50px;
        padding: 14% 3% 5% 2%;
        display: flex;
    }
    .Modo-Preparo{
        border-left: 5px solid #cb1154;
        margin: 10% 10% 10% 10%;
        padding-top: 5%;
        padding-bottom: 1%;
    }
    .modo-titulo{
        color: #333333;
        font-weight: 400;
        font-size: 22px;
        text-align: left;
        margin-left: 5%;
    }
    .lista-modo{
        margin-left: 5%;
        margin-top: 5%;
    }
    .modos{
       background-image: linear-gradient(89.99311970570312deg, #ffffff 0%, #e9e9e9 95.48561645502186%); 
       display: flex;
       padding: 3% 3% 3% 0%;
       margin-bottom: 3%;
    }
    .t-modo{
        color: #333333;
        font-size: 20px;
        text-align: left;
        display: grid;
        align-items: center;
        font-weight: 400;
    }
    .p-modo{
        font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        color: #333333;
        font-size: 15px;
        margin-left: 5%;
    }
    .gostou{
        font-size: 26px;
        color: white;
        font-weight: 400;
    }
    .estrelas{
        padding: 3% 10% 3% 10%;
        width: 100%;
        background-color: #cb1154;
        display: flex;
    }
    .p-aval{
        font-size: 13px;
        color: white;
        font-weight: 400;
        text-align: left;
        margin-left: -131px;
        margin-top: 30px;
        margin-bottom: 1%;
    }
    .avalia-estrelas{
        position: absolute;
        margin-top: 3.5%;
        margin-left: 43%;
        transform:  rotateY(180deg);
        align-items: center;
    }
    .avalia-estrelas input{
        display: none;
    }
    .avalia-estrelas label{
        width: 10px;
        background: none;
    }
    .avalia-estrelas label:before{
        content: '\f005';
        font-family: fontAwesome;
        position: relative;
        font-size: 27px;
        color: #711136;
    }
    .avalia-estrelas label:after{
        content: '\f005';
        font-family: fontAwesome;
        position: absolute;
        font-size: 27px;
        color: #ffd662;
        margin-left: -25px;
        opacity: 0;
        transition: 0.5s;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
    .avalia-estrelas label:hover:after,
    .avalia-estrelas label:hover ~ label:after,
    .avalia-estrelas input:checked ~ label:after{
        opacity: 1;
    }
}