@media only screen and (min-width: 721px) {
    * {
        font-family: Heavitas;
        padding: 0;
        margin: 0;
    }

    @font-face {
        font-family: Heavitas;
        src: url("../fonts/Heavitas.ttf");
    }

    @font-face {
        font-family: Fira Sans Bold;
        src: url("../fonts/fira-sans.bold.ttf");
    }

    @font-face {
        font-family: Fira Sans;
        src: url("../fonts/fira-sans.regular.ttf");
    }

    .CRIAR-dispositivo-mobile {
        display: none;
    }

    .CRIAR-dispositivo-desktop {
        display: block;
    }

    #fade-pergunta,
    #modal-pergunta {
        transition: .5s;
        opacity: 1;
        pointer-events: all;
    }

    #fade-pergunta {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vw;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 9998;
    }

    #modal-pergunta {
        width: 60.31vw;
        height: 36.14vw;
        box-sizing: border-box;
        border-radius: 0.3vw;
        background-color: #f2f2f2;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        
    }    

    .modal-header-pergunta {
        display: flex;
        margin-top: 2%;
    }

    #modal-pergunta.hide,
    #fade-pergunta.hide {
        opacity: 0;
        pointer-events: none;
    }

    #modal-pergunta.hide {
        top: 0;
    }

    .fechar-pergunta{
        margin-left: 66%;
        font-size: 22px;
        color: #4d16bb;
    }

    .categoria-criar-perg{
        margin-left: 5%;
        justify-content: center;
        margin-right: 70%;
        margin-top: 5%;
        padding: 6px 10px 6px 10px;
        background-color: #cb1154;
        color: #f2f2f2;
        font-size: medium;
        border-radius: 6px 6px 6px 6px;
    }

    .duvida1{
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 5%;
        margin-right: 15%;
        font-size: medium;
        
            }

    .duvida{
        height: 30px;
        width: 600px;
        border-style: solid;
        border-width: 2px;
        border-radius:  6px 6px 6px 6px;
        background-color: #f9f9f9; 
        border-color: #00000085;
        outline-color: #CB218C ;
        color: #000000;
        font-family: "Fira Sans", sans-serif;
        font-weight: 700;
        resize: none;
        padding: 2px 0px 0px 5px;

        
    }

    .alinhamento-da-pergunta{
        justify-content: center;
        max-width: 95%;
        margin: auto;
    }

    .aprender-pergunta{
        display: flex;
        font-size: small;
        color: #000000;
        margin-left: 5%;
        margin-right: 60%;
        
        height: 200px;
        width: 700px;
    }
    .aprender{
        height: 200px;
        width: 700px;
        font-family: "Fira Sans", sans-serif;
        font-weight: 700;
        font-size: medium;
        background-color: #f9f9f9;
        border-radius:  10px 10px 10px 10px;
        display:block;
        align-content: baseline;
        color: #000000;
        border-color: #00000083;
        outline-color: #CB218C ;
        box-sizing: border-box;
        text-align:  start;
        display: block;
        resize: none;
        padding: 10px 0px 0px 5px;
    }

    .judas{
        margin-top: 10%;
        padding: auto;
        width: 1000px;
        height: 90px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px -4px 6px -3px;
        display: flex;
        justify-content: space-between;
}
    

    .publicar{
        margin-top: 2%;
        height: 40px;
        width: 190px;
        display: block;
        border-width: 3px;
        border-radius: 6px;
        border-style: none;
        border-color: linear-gradient(89.991deg, rgb(77, 22, 187) 0%, rgb(157, 33, 203) 99.2027%);
        color: white;
        background-image: linear-gradient(89.991deg, rgb(77, 22, 187) 0%, rgb(157, 33, 203) 99.2027%);

    }

    .cancelar{
        margin-top: 2%;
        height: 40px;
        width: 190px;
        display: block;
        border-width: 3px;
        border: 1px solid;
        border-radius: 6px;
        border-style: fixed;
        border-color: #4d16bb;
        color: #4d16bb;
        background-color: white;
        
    }

    #icon-seta-select {
        margin-left: -2.4vw;
        transform: rotate(180deg);
    }
    
    .dialogoselect-perguntar-categoria.categoria-culinaria {
        background-color: #cb2154;
        color: #ffff;
    }
    
    .dialogoselect-perguntar-categoria.categoria-limpeza {
        background-color: #027de1;
        color: #ffff;
    }
    
    .dialogoselect-perguntar-categoria.categoria-bemestar {
        background-color: #00cd83;
        color: #ffff;
    }
    
    #dialogoselect-perguntar-categoria {
        width: 22.08vw;
        height: 3.02vw;
        background-image: url(../imagens/seta-select.png);
        background-position-x: 96%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        padding: 0.53vw 0.53vw 0.53vw 0.53vw;
        border-radius: 0.26vw;
        border: 0.09vw solid #797979;
        background-color: #f2f2f2;
        box-sizing: border-box;
        margin-top: 0.88vw;
        font-family: "Fira Sans", sans-serif;
        font-weight: 700;
        color: #555;
        outline: none;
    
        &:focus {
            background-image: url(../imagens/seta-select.svg);
            background-position-x: 96%;
            background-position-y: 50%;
            background-repeat: no-repeat;
    
            &::-webkit-input-placeholder {
                color: #cb218c;
                padding-right: -10%
            }
    
            ;
    
            input#dialogoselect::-moz-placeholder {
                color: #cb218c;
            }
    
            ;
            border: 2px #CB218C solid;
            border-bottom: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    
    .dropdown-perguntar-categoria {
        width: 22.08vw;
        box-sizing: border-box;
        border-radius: 0.26vw;
        background-color: #e2e2e2;
        font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
        font-weight: 700;
        font-size: 80%;
        border: 2px #cb218c solid;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: absolute;
        display: none;
    }
    
    #icon-dropdown {
        width: 8vw;
        height: 8vw;
        position: absolute;
        margin-left: -2.5vw;
    }
    
    .item-perguntar-categoria {
        width: 21vw;
        height: 2vw;
        background-color: #e2e2e2;
        font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
        font-size: 100%;
        color: #333333;
        cursor: pointer;
        position: relative;
        padding-top: 0.8vw;
        padding-left: 0.7vw;
    }
    
    #item-perguntar-categoria-1 {
        &:hover {
            background-color: #cb2154;
            color: white;
        }
    }
    
    #item-perguntar-categoria-2 {
        &:hover {
            color: white;
            background-color: #027de1;
        }
    }
    
    #item-perguntar-categoria-3 {
        &:hover {
            color: white;
            background-color: #00cd83;
        }
    }
    
    .guarda-select-perguntar{
        margin-top: 2vw;
        margin-left: 3vw;
    }
    
}