@media only screen and (max-width: 480px) {
    * {
      margin: 0;
      padding: 0;
  }
   .conteudo-dispositivo.desktop{
    display: none;
   }
  .slider{
    margin: 0 auto;
    width: 100%;
    height: 460px;
    overflow: hidden;
  }
  .slides{
    width: 300%;
    height: 460px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 33.33%;
    position: relative;
    transition: 0.3s;
  }
  .imagens-slide{
    width: 100%;
  }
  .manual-navigation{
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: -40px;
    justify-content: center;
  }
  .manual-btn{
    background: white;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  .manual-btn:not(:last-child){
    margin-right: 5%;
  }
  .manual-btn:hover{
    background: #cb218c;
  }
  #radio1:checked ~ .primeiro{
    margin-left: 0;
  }
  #radio2:checked ~ .primeiro{
    margin-left: -33.33%;
  }
  #radio3:checked ~ .primeiro{
    margin-left: -66.66%;
  }
  .navigation-auto div{
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 420px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 5%;
  }
  .icon-culinaria-banner1{
    height: 70px;
    background: none;
    display: flex;
  }
  .imagem-categoria{
    height: 10%;
    max-width: 50px;
    min-width: 30px;
    margin-top: 25px;
    margin-left: -93%;
    position: absolute;
  }
  .texto-slide1{
    font-size: 30px;
    height: 10%;
    max-width: 90%;
    font-weight: 400;
    min-width: 30px;
    margin-top: -280px;
    margin-left: 7%;
    position: absolute;
    color: white;
  }
  .texto-slide2{
    font-size: 30px;
    height: 10%;
    max-width: 90%;
    font-weight: 400;
    min-width: 30px;
    margin-top: -305px;
    margin-left: 7%;
    position: absolute;
    color: white;
    line-height: 30px;
  }
  .texto-slide3{
    font-size: 30px;
    height: 10%;
    max-width: 90%;
    font-weight: 400;
    min-width: 30px;
    margin-top: -285px;
    margin-left: 7%;
    position: absolute;
    color: white;
    line-height: 30px;
  }
  .itens-necessarios{
    font-family: Fira Sans Bold;
    font-size: 17px;
    width: 83%;
    font-weight: 400;
    margin-top: -240px;
    margin-left: 7%;
    margin-right: 7%;
    position: absolute;
    color: white;
    border-left: white solid;
    height: 45px;
    padding-left: 2%;
  }
  .itens-necessarios3{
    font-family: Fira Sans Bold;
    font-size: 17px;
    width: 83%;
    font-weight: 400;
    margin-top: -215px;
    margin-left: 7%;
    margin-right: 7%;
    position: absolute;
    color: white;
    border-left: white solid;
    height: 23px;
    padding-left: 2%;
  }
  .textos-carrossel{
    display: inline;
  }
  .recente-emalta-rapidas{
    display: flex;
    margin-top: 7%;
    justify-content: center;
    margin-bottom: 7%;
  }
  .Recente{
    padding: 2% 3% 2% 3%;
    border: none;
    background-color: #f0f0f0;
    border-radius: 100px 0 0 100px;
    color: #9e5fef;
    font-size: 17px;
  }
  .EmAlta{
    padding: 2% 3% 2% 3%;
    border: none;
    background-color: #f0f0f0;
    color: #9e5fef;
    font-size: 17px;
  }
  .Rapidas{
    padding: 2% 3% 2% 3%;
    border-radius: 0 100px 100px 0;
    border: none;
    background-color: #f0f0f0;
    color: #9e5fef;
    font-size: 17px;
  }
  .Recente:hover{
    background-color: #cb218c;
    color: white;
  }
  .EmAlta:hover{
    background-color: #cb218c;
    color: white;
  }
.EmAlta.active {
    background-color: #cb218c;
    color: white;
}
  .Rapidas:hover{
    background-color: #cb218c;
    color: white;
  }
}
@media only screen and (max-width: 471px) {
  .texto-slide1{
    margin-top: -265px;
  }
  .texto-slide2{
    margin-top: -290px;
  }
  .texto-slide3{
    margin-top: -300px;
  }
  .itens-necessarios{
    margin-top: -225px;
    height: 45px;
  }
  .itens-necessarios3{
    margin-top: -230px;
    height: 45px;
  }
}
@media only screen and (max-width: 460px) {
  .texto-slide1{
    margin-top: -255px;
  }
  .texto-slide2{
    margin-top: -280px;
  }
  .texto-slide3{
    margin-top: -280px;
  }
  .itens-necessarios{
    margin-top: -215px;
    height: 45px;
  }
  .itens-necessarios3{
    margin-top: -215px;
    height: 45px;
  }
}
@media only screen and (max-width: 445px) {
  .texto-slide1{
    margin-top: -235px;
  }
  .texto-slide2{
    margin-top: -260px;
  }
  .texto-slide3{
    margin-top: -265px;
  }
  .itens-necessarios{
    margin-top: -195px;
    height: 45px;
  }
  .itens-necessarios3{
    margin-top: -197px;
    height: 45px;
  }
}
@media only screen and (max-width: 430px) {
  .texto-slide1{
    margin-top: -230px;
  }
  .texto-slide2{
    margin-top: -260px;
  }
  .texto-slide3{
    margin-top: -250px;
  }
  .itens-necessarios{
    margin-top: -190px;
    height: 60px;
  }
  .itens-necessarios3{
    margin-top: -177px;
    height: 45px;
  }
}
@media only screen and (max-width: 400px) {
  .texto-slide1{
    margin-top: -195px;
  }
  .texto-slide2{
    margin-top: -220px;
  }
  .texto-slide3{
    margin-top: -205px;
  }
  .itens-necessarios{
    margin-top: -155px;
    height: 60px;
  }
  .itens-necessarios3{
    margin-top: -140px;
    height: 45px;
  }
}
@media only screen and (max-width: 375px) {
.manual-navigation{
  margin-top: -50px;
}
.texto-slide1{
  margin-top: -175px;
}
.texto-slide2{
  margin-top: -200px;
}
.texto-slide3{
  margin-top: -185px;
}
.itens-necessarios{
  margin-top: -135px;
  height: 60px;
}
.itens-necessarios3{
  margin-top: -120px;
  height: 45px;
}
}
@media only screen and (max-width: 350px) {
.manual-navigation{
  margin-top: -70px;
}
.texto-slide1{
  margin-top: -165px;
}
.texto-slide2{
  margin-top: -195px;
}
.texto-slide3{
  margin-top: -175px;
}
.itens-necessarios{
  margin-top: -125px;
  height: 60px;
}
.itens-necessarios3{
  margin-top: -105px;
  height: 45px;
}
}
@media only screen and (max-width: 335px) { 
.manual-navigation{
  margin-top: -95px;
}
.texto-slide1{
  font-size: 28px;
  margin-top: -150px;
}
.texto-slide2{
  margin-top: -175px;
}
.texto-slide3{
  margin-top: -165px;
}
.itens-necessarios{
  margin-top: -110px;
  font-size: 15px;
}
.itens-necessarios3{
  margin-top: -95px;
  height: 45px;
}
}

