@media only screen and (max-width: 480px) {
  * {
    font-family: Heavitas;
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: Heavitas;
    src: url("../fonts/Heavitas.ttf");
  }

  @font-face {
    font-family: Fira Sans Bold;
    src: url("../fonts/fira-sans.bold.ttf");
  }

  @font-face {
    font-family: Fira Sans;
    src: url("../fonts/fira-sans.regular.ttf");
  }

  .conteudo-dispositivo-desktop{
    display: none;
  }
  
  .conteudo-dispositivo-mobile{
    display: block;
  }

  .mapli {
    margin-top: 5%;
  }

  a.maplimpeza {
    text-align: center;
    width: 54px;
    height: 19px;
    color: black;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    margin-left: 7%;
  }


  .conteudo-dispositivo.desktop {
    display: none;
  }

  .conteudo-dispositivo.mobile {
    display: block;
    width: 100vw;
  }

  .gato-esticado {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: 80px;
  }

  .imagem-perfil-mob {
    width: 90px;
    height: 90px;
    margin-left: 7%;
    margin-top: -10%;
    border: 4px solid white;
    border-radius: 100px;
  }

  h1.User1234 {
    font-family: "Heavitas", sans-serif;
    color: #cb218c;
    font-size: 16px;
    margin-top: -1%;
    margin-left: 7%;
    font-weight: 500;
  }

  h2.Nome1234 {
    font-family: Fira Sans Bold;
    font-weight: 600;
    color: #333333;
    font-size: 15px;
    margin-left: 7%;
    margin-top: -1%;
  }

  .segui-mob {
    margin-top: 5%;
    font-family: Fira Sans Bold;
    color: #333333;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 15%;
  }

  .redes-sociais-perfil {
    margin-top: 4%;
    display: flex;
  }

  .rede {
    width: 24px;
    margin-right: 5%;
  }

  .postagens-rascunhos-interacoes {
    margin-top: 5%;
    margin-left: -8%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-right: 0%;
    background-color: #e0e0e0;
  }

  .postagens-escolha1 {
    font-size: 12px;
    margin-top: 8%;
    color: #9e5fef;
    font-weight: 400;
    text-align: center;
  }

  .postagens-escolha2 {
    font-size: 12px;
    margin-top: 8%;
    color: #9e5fef;
    font-weight: 400;
    text-align: center;
  }

  .postagens-escolha3 {
    font-size: 12px;
    margin-top: 8%;
    color: #9e5fef;
    font-weight: 400;
    text-align: center;
  }

  .postagens-escolha-1 {
    background-color: #e0e0e0;
    width: 33.33%;
  }

  .postagens-escolha-2 {
    background-color: #e0e0e0;
    width: 33.33%;
  }

  .postagens-escolha-3 {
    background-color: #e0e0e0;
    width: 33.33%;
  }

  .postagens-escolha-1:hover {
    background-color: #9e5fef;
    color: white;
  }

  .postagens-escolha-1:hover .postagens-escolha1 {
    color: white;
  }

  .postagens-escolha-2:hover {
    background-color: #9e5fef;
    color: white;
  }

  .postagens-escolha-2:hover .postagens-escolha2 {
    color: white;
  }

  .postagens-escolha-3:hover {
    background-color: #9e5fef;
    color: white;
  }

  .postagens-escolha-3:hover .postagens-escolha3 {
    color: white;
  }

  #vis-seguindo {
    font-weight: 500;
    font-size: 13px;
    font-family: Fira Sans Bold;
  }

  #segui {
    margin-bottom: -3px;
    text-align: center;
  }

  .foto-editar {
    justify-content: space-between;
    display: flex;
  }

  button.editar-perfil {
    width: 150px;
    height: 30px;
    margin-top: 2%;
    margin-right: 7%;
    margin-bottom: 7%;
    padding: 2% 0 2px 30px;
    border-radius: 10px;
    border-style: none;
    background-color: #4d16bb;
    font-family: "Heavitas", sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    font-size: 12px;
    display: flex;
  }

  #descrição-perfil {
    margin-top: 3%;
    margin-left: 7%;
  }

  h5.dicas-caseiras {
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 400;
  }

  .descricao-pf {
    font-size: 15px;
    font-weight: 400;
    font-family: Fira Sans;
  }

  #icon-link {
    width: 14px;
    height: 16px;
    transform: translate(0px, 3px);
  }

  .perfil-baixo {
    width: 410px;
    height: 720px;
    padding: 2px 2px 2px 2px;
    background-color: #e8e8e8;
    box-sizing: border-box;
    transform: translate(-10px, -190px);
  }

  .headerfav {
    box-sizing: border-box;
    font-family: "Heavitas", sans-serif;
    color: #9e5fef;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
  }

  .textfav {
    font-size: 25px;
    margin-top: 1%;
    font-weight: 400;
    width: 85%;
  }

  .filtro-icon {
    height: 30px;
    margin-top: 1%;
  }

  .fav {
    height: 10%;
  }

  .pontilhado-mob {
    width: 95vw;
    height: 80vw;
    padding: 2px 2px 2px 2px;
    border-radius: 10px;
    border: 6px dashed #bababa;
    background-color: rgba(242, 242, 242, 0);
    box-sizing: border-box;
    transform: translate(-145px, 20px);
  }

  .gato-rasc {
    width: 300px;
    height: 310px;
    margin-top: -900px;
    margin-left: -80px;

  }

  .sem-rasc {
    margin-top: -340px;
    width: 80vw;
    margin-left: -110px;
    font-size: 20px;
  }
  .Comece-mob{
    margin-top: 220px;
    width: 200px;
    height: 50px;
    background-image: linear-gradient(89.99311970570312deg, #4d16bb 0%, #9d21cb 95.48561645502186%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Fira Sans Bold;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    margin-left: -30px;
  }
  
  /*inicio perguntar*/
  button.cancelarpergunta {
    width: 34%;
    height: 10.1vw;
    ;
    margin-left: 5%;
    margin-top: 5%;
    padding: 2px 2px 2px 2px;
    border: 2px solid #4d16bb;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    font-family: Fira Sans Bold;
    font-weight: 700;
    color: #4d16bb;
    text-align: center;
    line-height: normal;
  }

  .botoes-cancelar-publicar {
    justify-content: space-between;
    display: flex;
  }

  button.publicarpergunta {
    width: 42%;
    height: 10.1vw;
    margin-right: 5%;
    margin-top: 5%;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    background-image: linear-gradient(89.99311970570312deg, #4d16bb 0%, #9d21cb 95.48561645502186%);
    border: none;
    cursor: pointer;
    font-family: Fira Sans Bold;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: normal;
  }

  select.filtropergunta {
    font-family: Fira Sans Bold;
    width: 60%;
    height: 35px;
    padding: 2px 2px 2px 2px;
    border-radius: 7px;
    border: none;
    background-color: #CB218C;
    box-sizing: border-box;
    font-weight: 700;
    color: whitesmoke;
    margin-top: 30px;
    margin-left: 5%;
    font-size: 15px;
    font-weight: 400;
    border-color: white;
  }

  form.pergunta input {
    border-top: 100px;
    border-left: 0;
    border-right: 0;
    width: 95%;
    height: 30px;
    font-family: Fira Sans Bold;
  }

  form.pergunta {
    margin-left: 5%;
    margin-top: 8%;
  }

  form.pergunta:onclick {
    border: none;
  }

  form.pergunta input.sub {
    margin-top: 30px;
    border: 2px solid #767676;
    border-radius: 5px;
    margin-bottom: 300px;
  }

  .footerpergunta {
    margin-top: 500px;
  }


  /*Notificações Mobile*/
  .topi img {
    height: 45px;
    width: 45px;
    margin-top: 10px;
  }

  .mega-noiteficacao {
    margin-top: 5%;
  }


  .just-notification svg {
    color: #9e5fef;
    rotate: -90deg;
    margin-left: 7%;
  }

  .just-notification {
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
  }

  h2.notificacoes {
    font-family: heavitas;
    font-weight: 400;
    color: #9e5fef;
    margin-top: 2%;
    font-size: 25px;
    margin-top: 1%;
    width: 85%;
    font-weight: 400;
  }

  .img-noti {
    height: 10%;
  }

  .sinim {
    width: 50px;
    object-fit: contain;
    margin-bottom: 30px;
  }

  .notificacao {
    padding: 3% 4% 4% 3%;
    margin-left: 7%;
    display: flex;
    background-color: rgb(197, 197, 197);
    margin-top: 3%;
    width: 85%;
    height: 100%;
    border-radius: 5px;
    background-color: #ededed;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .icon-notifica {
    height: 50px;
    margin-top: 3%;
    border-radius: 100px;
  }

  .notificacao img.imagem-post:nth-of-type(1) {
    padding: 15px;
    object-fit: contain;
    border-radius: 50px;
  }

  .notificacao img.imagem-post:nth-of-type(2) {
    object-fit: contain;
    border-radius: 4px;
    height: 50px;
    align-self: center;
  }

  .notificacao p.nick {
    font-family: "Heavitas Bold", "Heavitas", sans-serif;
    color: #4d16bb;
    font-size: 15px;
    margin-top: 4%;
  }

  .icon-comentario {
    height: 40px;
    margin-top: 3%;
  }

  .notificacao p {
    align-self: center;
    color: #333333;
  }

  .notificacao p.tipo-noti {
    font-family: Fira Sans Bold;
    font-size: 14px;
    width: 90%;
  }

  .comentario {
    margin-top: 2%;
    font-family: Fira Sans;
    font-size: 12px;
  }

  .texto-notifica {
    display: inline;
    margin-left: 3%;
    margin-right: 2%;
    width: 60%;
  }
  
  .hidden {
    display: none;
}

  .radio-container {
    position: relative;
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: Fira Sans Bold;
    display: inline-block;
    padding-left: 5px;
    /* Espaçamento à esquerda para o retângulo */
    margin-right: 5px;
    /* Espaçamento entre os elementos */
  }

  .radio-container input[type="radio"] {
    position: absolute;
    opacity: 0;
    /* Ocultar o input radio padrão */
  }

  .radio-container label {
    position: relative;
    padding: 7px 15px 7px 15px;
    /* Tamanho do retângulo */
    border: none;
    /* Cor da borda do retângulo */
    border-radius: 5px;
    /* Borda arredondada */
    cursor: pointer;
    background-color: #9d5fef28;
  }

  .radio-container input[type="radio"]:checked+label {
    background-color: #9e5fef;
    /* Cor de fundo quando selecionado */
    color: #f9f9f9;
    /* Cor do texto quando selecionado */
  }

  div.filtro-not {
    font-family: Fira Sans Bold;
    margin-left: 5%;
    font-size: small;
    color: #9e5fef;
    margin-top: 3%;
    margin-right: 7%;
    font-weight: 600;
    margin-bottom: 7%;
  }

  .vejamais-notificacoes button {
    background-color: #FFD662;
    width: 45%;
    margin: 8% 0% 10% 27.5%;
    padding: 2% 3% 2% 3%;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-family: Fira Sans Bold;
    text-align: center;
    color: #4D16BB;
  }

  /*Fim - Notificações Mobile*/
}
