@media only screen and (max-width: 480px) {
  * {
    font-family: Heavitas;
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: Heavitas;
    src: url("../fonts/Heavitas.ttf");
  }

  @font-face {
    font-family: Fira Sans Bold;
    src: url("../fonts/fira-sans.bold.ttf");
  }

  @font-face {
    font-family: Fira Sans;
    src: url("../fonts/fira-sans.regular.ttf");
  }

  .conteudo.mobile {
    display: block;
    width: 100vw;
  }

  .conteudo.desktop {
    display: none;
  }

  .logos {
    display: flex;
    justify-content: space-around;
    height: 18.66vw;
  }

  .logo {
    margin-top: 5.86vw;
    margin-right: 13.33vw;
    margin-left: 13.33vw;
  }

  .logo img {
    max-width: 13.33vw;
    margin-top: -3vw;
    align-self: center;
  }

  .search {
    margin-top: 6vw;
    margin-right: 3.46vw;
  }

  .search img {
    max-width: 6.93vw;
  }

  .login {
    margin-top: 2.4vw;
    margin-left: 4.8vw;
    margin-right: -1.86vw;
    position: relative;
    display: inline-block;
  }

  .login img {
    max-width: 9.06vw;
    margin-top: 2.66vw;
  }

  .topcs {
    background-color: #027de1;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 10.13vw;
    width: 100vw;
  }

  a {
    text-decoration: none;
    color: white;
    margin-top: 2.4vw;
    font-size: 3.73vw;
  }

  .culinaria {
    margin-left: 3.504vw;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    margin-top: 12px;
  }

  .bem-estar {
    margin-right: 8.59px;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    margin-top: 12px;
    font-weight: 700;
  }

  .limpeza {
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    text-align: center;
    margin-top: 12px;
    font-weight: 700;
  }

  a.maplimpeza {
    text-align: center;
    width: 54px;
    height: 19px;
    color: black;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    margin-left: 7%;
  }

  .mapli {
    margin-top: 5%;
  }

  img.imgli {
    width: 84px;
    height: 84px;
    margin-left: 4%;
    transform: translate(0, 13px);
  }

  h1.tituloli {
    font-family: Heavitas;
    color: #027de1;
    max-width: 150px;
    font-size: 35px;
    font-weight: 400;
    transform: translate(110px, -70px);
  }

  p.pli {
    text-align: left;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    width: 65%;
    font-size: 12px;
    transform: translate(110px, -70px);
  }


  .fcutodas {
    min-width: 35%;
    height: 35px;
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    color: #333333;
    text-align: center;
    line-height: normal;
    border: none;
    gap: 100px;
  }


  .filtrocu {
    display: flex;
    gap: 2.66vw;
    overflow: scroll;
    height: 100%;
    margin-left: 2.66vw;
    margin-top: -50px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    color: #333333;
    text-align: center;
    line-height: normal;
    border: none;
  }

  .clicado {
    background-color: #027de1;
    box-sizing: border-box;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #ffffff;
  }

  #icon-salvar-vazado {
    width: 6.6vw;
    height: 6.66vw;
    margin-top: 3.73vw;
    margin-left: 2.5vw;
  }

  .text-email {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 1%;
    text-align: center;
    height: 30px;
    width: 56%;
    border: 0px;
    border-radius: 30px;
    font-family: Fira Sans Bold;
    font-weight: 700;
  }

  .text-email::placeholder {
    opacity: 0.5;
    color: #333333;
    font-family: Fira Sans Bold;
  }

  .submit-email {
    margin-right: 2%;
    height: 34px;
    width: 35%;
    background-color: #FFD662;
    color: #4D16BB;
    font-size: 75%;
    border: 0px;
    border-radius: 30px;
  }

  .Newsletter {
    padding: 5% 0 0 0;
    background-color: #4D16BB;
  }

  .mensagem-news {
    color: white;
    font-family: "Heavitas", sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
  }

  .Linha-Footer-1 {
    height: 3px;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    border: 1px solid;
    border-color: #FFD662;
    background: #FFD662;
    margin-top: 5%;
  }

  .Linha-Footer-2 {
    height: 1px;
    width: 58%;
    justify-content: space-around;
    text-align: center;
    border: 0.5px solid;
    border-color: white;
    background: white;
    align: center;
    margin: 0 auto 0 0;
    margin-left: 21%;
    margin-right: 21%;
    margin-bottom: 5%;
  }

  .contato-footer {
    font-family: Fira Sans;
    color: #D1C2FA;
    list-style-type: none;
    line-height: 27px;
    font-size: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;
  }

  .sobre-footer {
    font-family: Fira Sans;
    color: #D1C2FA;
    list-style-type: none;
    line-height: 27px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 100%;
    margin-top: 2%;
  }

  .img-contato-footer {
    max-width: 6%;
    margin-left: 10%;
    margin-right: 4%;
    margin-top: 1%;
  }

  .titulos-footer {
    margin-left: 10%;
  }

  .footer {
    display: block;
    bottom: 0;
    margin-top: 0%;
    width: 100%;
    background-color: #5417bd;
    background-image: linear-gradient(to right, #5417bd, #9c21cb);
    height: 500px;
    padding-top: 80%;

  }

  span {
    color: white;
    margin-left: 12px;
    font-size: 14px;
  }

  .logo2 {
    display: flex;
    justify-content: center;
  }

  .logo2 img {
    max-width: 190px;
  }

  .redes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .redes img {
    max-width: 30px;
    margin-right: 12px;
  }

  .Veja-Mais {
    font-size: 19px;
    padding-top: 70%;
  }

  .limpeza-culinaria {
    display: flex;
  }

  .titulo-veja-mais {
    font-size: 19px;
    text-align: center;
    color: #9e5fef;
    font-weight: 600;
    font-family: Heavitas;
    margin-bottom: 5%;

  }

  .veja-culinaria {
    width: 30%;
    background-color: #cb1154;
    margin-left: 10%;
    margin-right: 3%;
    padding: 25% 3% 2% 5%;
    border-radius: 5px;
    background-image: url(../imagens/fundo-vejamais-culinaria.png);
  }

  .veja-limpeza {
    width: 30%;
    background-color: #027de1;
    padding: 25% 3% 2% 5%;
    border-radius: 5px;
    align-items: right;
    margin-right: 10%;
    background-image: url(../imagens/fundo-vejamais-limpeza.png)
  }

  .veja-bem-estar {
    width: 71%;
    background-color: #00cd83;
    padding: 25% 3% 2% 5%;
    border-radius: 5px;
    align-items: right;
    margin: 3% 10% 5% 10%;
    background-image: url(../imagens/fundo-vejamais-bemestar.png)
  }

  .texto-veja-mais {
    font-size: 17px;
    text-align: right;
    color: white;
    font-weight: 500;
    font-family: Heavitas;
  }
}

@media only screen and (min-width: 481px) {
  .conteudo.mobile {
    display: none;
  }

  * {
    font-family: Heavitas;
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: Heavitas;
    src: url("../fonts/Heavitas.ttf");
  }

  @font-face {
    font-family: Fira Sans Bold;
    src: url("../fonts/fira-sans.bold.ttf");
  }

  @font-face {
    font-family: Fira Sans;
    src: url("../fonts/fira-sans.regular.ttf");
  }

  .header-dispositivo-mobile {
    display: none;
  }
  .mapculinaria {
    margin-left: 18%;
    font-family: Fira Sans;
    color: black;
}
.mapculinaria2 {
  font-family: Fira Sans Bold;
  color: #9e5fef;
}
.imgcu {
  width: 120px;
  height: 120px;
  margin-left: 17.5%;
  margin-top: 20px;
}
.titulocu {
  font-size: 45px;
  color: #027de1;
  margin-left: 470px;
  margin-top: -110px;
  font-weight: 400;
}.pcu {
  margin-left: 470px;
  width: 20%;
  font-size: 15px;
  font-family: Fira Sans;
}
.container{
  width: 10%;
  position: absolute;
  margin-left: 1330px;
  margin-top: -20px;
}
.container img{
  transform: rotateX(180deg);
  height: 10px;
  margin-left: 5px;
}
.subca {
  width: 217px;
  height: 38px;
  border: none;
  color: #027de1;
  padding: 0px 5px;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: Fira Sans Bold;
}
.dropDown {
  width: 227px;
  height: 247px;
  background-color: #f2f2f2;
  padding: 20px 30px;
  gap: 10px;
  overflow: auto;
  transform: translate( -70px, 0px);
  display: none;
  position: absolute;
  z-index: 99;
  border-radius: 5px;
  color: #333333;
}
.dropDown::-webkit-scrollbar{
  display: none;
}
.listDropDown {
  width: 227px;
  height: 247px;
}
.item {
  width: 253px;
  height: 28px;
  padding: 2px 2px 2px 2px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: pointer;
}
.item:hover{
  color: #cb1154;
}
.item {
  width: 253px;
  height: 28px;
  padding: 2px 2px 2px 2px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: pointer;
}
.filtroantes {
  overflow: hidden;
}
.filtrocu {
  display: flex;
  gap: 10px;
  overflow: auto;
  height: 100%;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 50px;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  color: #333333;
  text-align: center;
  line-height: normal;
  border: none;
  width: auto;
  overflow: auto;
}
.fcutodas {
  min-width: 15%;
  height: 50px;
  padding: 2px 6px 2px 6px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-size: large;
  color: #333333;
  text-align: center;
  line-height: normal;
  border: none;
  gap: 100px;
}

  .logos {
    display: flex;
    justify-content: space-around;
    height: 85px;
    box-shadow: 1px 5px 5px rgb(173, 173, 173);
    background-color: white;
  }

  .logo {
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 50px;

  }

  .logo img {
    max-width: 65px;
    margin-top: 5px;
    align-self: center;
  }

  .search {
    margin-top: 22px;
    margin-right: 18px;
  }

  .search img {
    max-width: 37px;
  }

  .login {
    margin-top: 9px;
    margin-left: 13px;
    margin-right: -7px;
    position: relative;
    display: inline-block;
  }

  #img-login {
    max-width: 50px;
    margin-top: 10px;
  }

  .topcs {
    background-color: #027de1;
    display: flex;
    justify-content: space-around;
    height: 43px;
  }

  .topcs a {
    text-decoration: none;
    color: white;
    margin-top: 9px;
    font-size: 20px;
  }

  .culinaria {
    margin-left: 270px;
    font-family: Fira Sans Bold;
    font-weight: 700;
    margin-top: 12px;
  }

  .bem-estar {
    margin-right: 270px;
    font-family: Fira Sans Bold;
    margin-top: 12px;
    font-weight: 700;
  }

  .limpeza {
    font-family: Fira Sans Bold;
    text-align: center;
    margin-top: 12px;
    font-weight: 700;
  }

  #hide-hover-span {
    display: none;
    position: absolute;
    color: #474747;
    text-align: center;
    margin-top: -46px;
    width: 200px;
    margin-left: 70px;
  }

  #hide-hover-span p {
    text-align: left;
    font-family: Fira Sans Bold;
  }

  .p-1 {
    font-size: 14px;
  }

  .p-2 {
    font-size: 18px;
    margin-top: -25px;
  }

  #hide-hover-search {
    display: none;
    position: absolute;
    color: #474747;
    text-align: center;
    margin-top: -28px;
    width: 200px;
    margin-left: -220px;
  }

  #hide-hover-search input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #9d21cb;
    font-family: Fira Sans;
    font-size: 17px;
  }

  .maplimpeza {
    margin-left: 359px;
  }

  .imgli {
    width: 180px;
    height: 180px;
    margin-left: 320px;
    margin-top: 20px;
  }

  .tituloli {
    font-size: 40px;
    color: #027de1;
    margin-left: 500px;
    margin-top: -150px;
  }

  .pli {
    margin-left: 500px;
    width: 30%;
    font-size: 12px;

  }

  .fcutodas {
    min-width: 15%;
    height: 50px;
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-size: large;
    color: #333333;
    text-align: center;
    line-height: normal;
    border: none;
    gap: 100px;
  }

  .clicado {
    background-color: #027de1;
    box-sizing: border-box;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #ffffff;
  }
  .item{
    width: 253px;
    height: 28px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    cursor: pointer;
  }
  .item:hover{
    color: #027de1;
  }
}