@media only screen and (max-width: 480px) {
    * {
      margin: 0;
      padding: 0;
  }
  .conteudo.mobile{
    display: block;
    width: 100vw;
   }
   
   .conteudo.desktop{
    display: none;
   }
   .logos {
    display: flex;
    justify-content: space-around;
    height: 70px;
    }
    
    .logo {
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 50px;
    
    }
    .logo img {
    max-width: 50px;
    margin-top: 5px;
    align-self: center;
    }
    .search {
    margin-top: 22px;
    margin-right: 13px;
    }
    .search img {
    max-width: 26px;
    }
    .login {
    margin-top: 9px;
    margin-left: 18px;
    margin-right: -7px;
    position: relative;
    display: inline-block;
    }
    .login img {
    max-width: 34px;
    margin-top: 10px;    
    }
    .topcs {
    background-color:  #00cd83;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 38px;
    }
    a {
    text-decoration: none;
    color: white;
    margin-top: 9px;
    font-size: 14px;
    }
    .culinaria {
    margin-left: 13.14px;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    margin-top: 12px;
    }
    .bem-estar {
    margin-right: 8.59px;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    margin-top: 12px;
    font-weight: 700;
    }
    .limpeza{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        text-align: center;
        margin-top: 12px;
        font-weight: 700;
    }
    a.mapbemestar{
        text-align: center;
        width: 54px;
        height: 19px;
        color:black;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        margin-left: 7%;
      }
      .mapbe{
        margin-top: 5%;
      }
      img.imgbe{
        width: 84px;
        height: 84px;
        margin-left: 5%;
        transform: translate(0, 13px);
      }
      h1.titulobe{
        font-family: Heavitas;
        color: #00cd83;
        max-width: 215px;
        font-size: 35px;
        font-weight: 400;
        transform: translate(115px, -70px);
      }
      p.pbe{
        text-align: left;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        width: 65%;
        font-size: 12px;
        transform: translate(115px, -70px);
      }
  

    .fcutodas{
        min-width: 140px;
        height: 35px;
        padding: 2px 2px 2px 2px;
        border-radius: 5px;
        background-color: #f2f2f2;
        box-sizing: border-box;
        font-family: "Fira Sans", sans-serif;
        color: #333333;
        text-align: center;
        line-height: normal;
        border: none;
        gap: 100px;
        }
      }
  
      .filtrocu{
        display: flex;
        gap: 10px;
        overflow: scroll;
        height: 100%;
        margin-left: 7%;
        margin-top: -50px;
        padding: 2px 2px 2px 2px;
        border-radius: 5px;
        box-sizing: border-box;
        font-family: "Fira Sans", sans-serif;
        color: #333333;
        text-align: center;
        line-height: normal;
        border: none;
        width: 85%;
        }
    
        .clicado{
          background-color: #00cd83;
          box-sizing: border-box;
          font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
          font-weight: 700;
          color: #ffffff;
      }
      @media only screen and (min-width: 480px) {
        * {
          margin: 0;
          padding: 0;
      }
      .conteudo.desktop{
        display: block;
        width: 100vw;
       }
       
       .conteudo.mobile{
        display: none;
       }
       .filtrocu {
        display: flex;
        gap: 10px;
        overflow: auto;
        height: 100%;
        margin-left: 19%;
        margin-right: 19%;
        margin-top: 70px;
        padding: 2px 2px 2px 2px;
        border-radius: 5px;
        box-sizing: border-box;
        font-family: "Fira Sans", sans-serif;
        color: #333333;
        text-align: center;
        line-height: normal;
        border: none;
        width: auto;
      }
      
      
      .fcutodas {
      min-width: 15%;
      height: 50px;
      padding: 2px 6px 2px 6px;
      border-radius: 5px;
      background-color: #f2f2f2;
      box-sizing: border-box;
      font-family: "Fira Sans", sans-serif;
      font-size: large;
      color: #333333;
      text-align: center;
      line-height: normal;
      border: none;
      gap: 100px;
      }
      .clicado {
      background-color: #00cd83;
      box-sizing: border-box;
      font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
      font-weight: 700;
      color: #ffffff;
      }
      
      }
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
            
          