@media only screen and (max-width: 480px) {

.titulo-categoria{
    width: 40%;
    height: 3%;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    background-color: #cb1154;
    box-sizing: border-box;
    margin-left: 10%;
    position: relative;
    display: flex;
}
.icon-culinaria{
    width: 20%;
    margin-left: 2%;
    
}
.titulo-culinaria{
    margin-left: 25%;
    font-size: 80%;
    position: absolute;
    color: white;
}
.titulos-post{
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
}
.titulo-user {
    font-size: 15px;
    font-family: "Fira Sans", sans-serif;
    display: inline;
}
.titulo-principal{
    font-size: 22px;
    font-family: Heavitas;
}
.info-post{
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    display: flex;
}
.tempo{
    display: inline;
}
.tempo-post{
    height: 26px;
}
.avaliacao{
    display: inline;
}
.avalia-post{
    height: 26px;
}
.porcoe{
    display: inline;
    align-content: right;
}
.porcao-post{
    height: 26px;
}
.texto-info{
    display: inline;
    font-size: 26px;
    font-family: "Fira Sans", sans-serif;
}
.descricao-post{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 14px;
}
.descricao{
    font-family: "Fira Sans", sans-serif;
    text-align: justify;
    color: #333333;
}
.hashtags{
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    padding: 0.1% 5% 0.1% 5%;
    color: #cb1154;
    background-color: #f2f2f2;
    border-radius: 0 0 15px 0;
}
}