* {box-sizing: border-box}

/*Opções de Conta*/
.tab {
    float: left;
    transform: translate(267px, 295px);
    width: 284px;
    height: 450px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    position: fixed;
  }
  
  .tab button {
    display: block;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width: 300px;
    height: 67px;
    padding: 17px 17px 17px 17px;
    color: gray;
    box-sizing: border-box;
    font-family: "Heavitas", sans-serif;
    text-align: left;
    line-height: normal;
    margin-bottom: 28px;
    border-radius: 5px;
    font-size:25px;
  }
  
  .tab button:hover {
    color: grey;
    background-color: rgba(24, 24, 24, 0.185);
  }
  
  .tab button.active {
    width: 300px;
    height: 67px;
    padding: 17px 17px 17px 17px;
    border-radius: 5px;
    background-image: linear-gradient(89.99146929511329deg, #4d16bb 0%, #9d21cb 99.20305052121002%);
    box-sizing: border-box;
    border-style: none;
    font-family: "Heavitas", sans-serif;
    text-align: left;
    line-height: normal;
    color: white;
  }
  
  .tabcontent {
    float: left;
    width: 937px;
    height: 1784px;
    transform: translate(644px, 261px);
    padding: 2px 2px 2px 2px;
    border-radius: 14px;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }
  /* Fim de opções de Conta*/

/*Favoritos*/
.headerfav{
width: 937px;
height: 72px;
padding: 2px 2px 2px 2px;
border-radius: 8px;
background-color: #ececec;
box-sizing: border-box;
font-family: "Heavitas", sans-serif;
color: #9e5fef;
line-height: normal;
font-size: 25px;
} 
.headerfav img.fav{
transform: translate(46px, 15px);
}
  
.headerfav .textfav{
transform: translate(102px, -26px);
}
.imagem-bioderma{
margin: 30px 0px 0px 30px;
background-image: url(../imagens/bioderma.jpeg);
width: 380px;
height: 256px;
border-radius: 10px;
box-sizing: border-box;
display: inline-block;

    &:hover .post-bioderma{
    width: 380px;
    height: 256px;
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.415);
}
}
.post-bioderma{
font-size: 25px;
font-family: "Heavitas", sans-serif;
text-align:center;
color:white;
opacity:0;
transition: opacity .2s fade;
padding-top: 100px;
}
.imagem-moça-limpando{
    margin: 30px 0px 0px 30px;
    background-image: url(../imagens/moça-limpando.jpeg);
    width: 457px;
    height: 256px;
    border-radius: 10px;
    box-sizing: border-box;
    
        &:hover .post-moça-limpando{
        width: 457px;
        height: 256px;
        border-radius: 10px;
        box-sizing: border-box;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.415);
}
}
    .post-moça-limpando{
    font-size: 25px;
    font-family: "Heavitas", sans-serif;
    text-align:center;
    color:white;
    opacity:0;
    transition: opacity .2s fade;
    padding: 100px;
}
.imagem-peixe{
    margin: -50px 0px 0px 30px;
    background-image: url(../imagens/peixe.jpeg);
    width: 456px;
    height: 256px;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    
        &:hover .post-peixe{
        width: 457px;
        height: 256px;
        border-radius: 10px;
        box-sizing: border-box;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.415);
}
}
    .post-peixe{
    font-size: 25px;
    font-family: "Heavitas", sans-serif;
    text-align:center;
    color:white;
    opacity:0;
    transition: opacity .2s fade;
    padding: 100px;
}
.tab-perfil {
    overflow: hidden;
    width: 927px;
    height: 47px;
    background-color: #ffffff;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab-perfil button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab-perfil button:hover {
    color: grey;
    background-color: rgba(24, 24, 24, 0.185);
  }
  
  /* Create an active/current tablink class */
  .tab-perfil button.active {
    width: 309px;
    height: 47px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
  }
  
  /* Style the tab content */
  .tabcontent-perfil {
    display: none;
    padding: 6px 12px;
    width: 309px;
  height: 47px;
  padding: 2px 2px 2px 2px;
  border-radius: 30px;
  border: 4px solid;
  border-color: #4d16bb;
  background-color:#ffffff;
  transform: translate(140px,-1140px );
  box-sizing: border-box;
    border-top: none;
  }