@media only screen and (min-width: 481px) {

    @font-face {
      font-family: Heavitas;
      src: url("../fonts/Heavitas.ttf");
    }
  
    @font-face {
      font-family: Fira Sans Bold;
      src: url("../fonts/fira-sans.bold.ttf");
    }
  
    @font-face {
      font-family: Fira Sans;
      src: url("../fonts/fira-sans.regular.ttf");
    }
  
    * {
      font-family: 'Heavitas';
      padding: 0;
      margin: 0;
    }
  
    .conteudo-dispositivo.desktop{
      display: block;
      width: 100vw;
    }
  
    .conteudo-dispositivo.mobile {
      display: none;
    }

}