@media only screen and (max-width: 480px) {
.tab {
    float: left;
    transform: translate(267px, 150px);
    width: 284px;
    height: 450px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    position: fixed;
  }
  
  .tab button {
    display: block;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width: 300px;
    height: 67px;
    padding: 17px 17px 17px 17px;
    color: gray;
    box-sizing: border-box;
    font-family: "Heavitas", sans-serif;
    text-align: left;
    line-height: normal;
    margin-bottom: 28px;
    border-radius: 5px;
    font-size:25px;
  }
  
  .tab button:hover {
    color: grey;
    background-color: rgba(24, 24, 24, 0.185);
  }
  
  .tab button.active {
    width: 300px;
    height: 67px;
    padding: 17px 17px 17px 17px;
    border-radius: 5px;
    background-image: linear-gradient(89.99146929511329deg, #4d16bb 0%, #9d21cb 99.20305052121002%);
    box-sizing: border-box;
    border-style: none;
    font-family: "Heavitas", sans-serif;
    text-align: left;
    line-height: normal;
    color: white;
  }
}