@media only screen and (max-width: 480px) {


@font-face{
    font-family: Heavitas;
    src: url("../fonts/Heavitas.ttf");
  }
  @font-face{
    font-family: Fira Sans Bold;
    src: url("../fonts/fira-sans.bold.ttf");
  }
  @font-face{
    font-family: Fira Sans;
    src: url("../fonts/fira-sans.regular.ttf");
  }
  
* {
font-family: 'Heavitas';
padding: 0;
margin: 0;
}

#conteudo-dispositivo.mobile{
display: block;
width: 100vw;
height: 100vh;
}

#menu-post{
width: 100%;
height: 19.73%;
background-color: #ffffff;;
box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.08);
}

#logo-mob-post{
width: 12.8%;
height: 13.06%;
box-sizing: border-box;
margin-top: 2.4%;
margin-bottom: 2.4%;
margin-left: 21.6%;
}

#perfil-foto-menu-post{
width: 11.73%;
height: 11.73%;
margin-left: 10.13%;
margin-bottom: 3%;
}

#criar-post-cancela{
position: absolute;
display: flex;
width: 66.4%;
height: 6.4%;
margin-left: 6.4%;
margin-top: 5.06%;
background-color: #ffffff;
}

#cancela-criar-post{
color: #4d16bb;
font-size: 140%;
background-color: rgba(255, 255, 255, 0);
box-sizing: border-box;
font-family: "Heavitas", sans-serif;
color: #4d16bb;
text-align: right;
line-height: normal;
}

#titulo-criar-post{
width: 45.86%;
background-color: rgba(255, 255, 255, 0);
font-family: "Heavitas", sans-serif;
color: #4d16bb;
margin-left: 28%;
font-size: 140%;
white-space: nowrap;
}

#criar-post-etapas{
margin-top: 15.2%;
}

.linha-baixo{
width: 100%;
height: 4vw;
padding: 2px 2px 2px 2px;
background-color: #d7d7d7;
box-sizing: border-box;
position: relative;
overflow: hidden;
}

#progresso{
width: 100%;
height: 4vw;
padding: 2px 2px 2px 2px;
background-image: linear-gradient(89.9984726943774deg, #4d16bb 0%, #9d21cb 48.6110592628467%, #ffa462 99.2062434669349%);
background-color: #d7d7d7;
box-sizing: border-box;
position: absolute;
}

/* Estilos para a lista de tarefas */
.lista-tarefas {
display: flex;
width: 480px;
height: 34px;
background-color: #ffffff;
margin-top: 7%;
}

/* Estilos para as tarefas */
.tarefa {
visibility: hidden;
}

#conteudoTarefa1{
left: 0;
transform: translateX(0%);
}

#conteudoTarefa2{
left: 0;
transform: translateX(0%);
}

#conteudoTarefa3{
left: 0;
transform: translateX(100%);
}

#detalhes{
background-color: rgba(255, 255, 255, 0);
box-sizing: border-box;
font-family: "Heavitas",sans-serif;
color: #4d16bb;
text-align: left;
line-height: normal;
font-size: 200%;
margin-top: -9.06%;
margin-left: 7%;
}

#elementos{
background-color: rgba(255, 255, 255, 0);
box-sizing: border-box;
font-family: "Heavitas",sans-serif;
color: #921FC9;
text-align: left;
line-height: normal;
font-size: 200%;
margin-top: -9.06%;
margin-left: 7%;
}

#midias{
background-color: rgba(255, 255, 255, 0);
box-sizing: border-box;
font-family: "Heavitas",sans-serif;
color: #CB218C;
text-align: left;
line-height: normal;
font-size: 200%;
margin-top: -9.06%;
margin-left: 7%;
}

/* Estilos para o conteúdo das tarefas */
.conteudo {
width: 100%;
height: 168%;
position: absolute;
transition: transform 0.5s ease-in-out;
}

#botoes-criar-post{
width: 100vw;
height: 6.6%;
padding: 2px;
border-top: 1px solid #d7d7d7;
background-color: #ffffff;
position: fixed; 
box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.35);
bottom: 100vh; 
z-index: 99;
margin-top: 80%;
}

/* Estilos para os botões */
#btnAvancar {
font-size: 110%;
font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
font-weight: 700;
cursor: pointer;
width: 42%;
height: 10.10vw;
padding: 2px 2px 2px 2px;
border-radius: 5px;
background-image: linear-gradient(89.99098801485042deg, #4d16bb 0%, #9d21cb 99.20266782940685%);
color: #ffffff;
text-align: center;
line-height: normal;
border: none;
cursor: pointer;
z-index: 100;
position: absolute;
}

#btnVoltar{
width: 42%;
height: 10.10vw;
padding: 2px 2px 2px 2px;
border-radius: 5px;
border: 1px solid #4d16bb;
background-color: #ffffff;
box-sizing: border-box;
font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
font-weight: 700;
font-size: 110%;
color: #4d16bb;
text-align: center;
line-height: normal;
cursor: pointer; 
z-index: 100;
position: relative;
}

#detalhes-primeira-parte{
    border-top: 1px solid #909090;
    margin-top: 5.06%;
    padding-top: 4.26%;
}

#titulo-da-postagem{
  font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
  font-weight: 700;
  color: #333333;
  text-align: left;
  font-size: 140%;
  margin-left: 6.4%;
}

#texto-titulo-da-postagem{
  width: 87.2%;
  height: 35px;
  padding: 2px 2px 2px 2px;
  margin-left: 6.4%;
  font-size: 110%;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  padding-left: 1%;
  color: #999999;
  text-align: left;
}

#detalhes-segunda-parte{
  margin-top: 3.2%;
  border-top: 1px solid #909090;
  padding-top: 6.66%;
}

#categorias-de-detalhes{
  width: 89.33%;
  height: 10.66vw;
  margin-left: 5.33%;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  color: #333333;
  text-align: left;
  line-height: normal;
  font-size: 130%;
  border: 1px solid;
  border-radius: 5px;
}

}