@media only screen and (min-width: 721px) {
* {box-sizing: border-box}

/*Opções de Conta*/
.tab {
    float: left;
    transform: translate(267px, 295px);
    width: 284px;
    height: 450px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    position: fixed;
  }
  
  .tab button {
    display: block;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width: 300px;
    height: 67px;
    padding: 17px 17px 17px 17px;
    color: gray;
    box-sizing: border-box;
    font-family: "Heavitas", sans-serif;
    text-align: left;
    line-height: normal;
    margin-bottom: 28px;
    border-radius: 5px;
    font-size:25px;
  }
  
  .tab button:hover {
    color: grey;
    background-color: rgba(24, 24, 24, 0.185);
  }
  
  .tab button.active {
    width: 300px;
    height: 67px;
    padding: 17px 17px 17px 17px;
    border-radius: 5px;
    background-image: linear-gradient(89.99146929511329deg, #4d16bb 0%, #9d21cb 99.20305052121002%);
    box-sizing: border-box;
    border-style: none;
    font-family: "Heavitas", sans-serif;
    text-align: left;
    line-height: normal;
    color: white;
  }
  
  .tabcontent {
    float: left;
    width: 937px;
    height: 1784px;
    transform: translate(644px, 261px);
    padding: 2px 2px 2px 2px;
    border-radius: 14px;
    background-color: #f9f9f9;
    box-sizing: border-box;

  }
  /* Fim de opções de Conta*/
/*Favoritos*/
.headerfav{
width: 937px;
height: 72px;
padding: 2px 2px 2px 2px;
border-radius: 8px;
background-color: #ececec;
box-sizing: border-box;
font-family: "Heavitas", sans-serif;
color: #9e5fef;
line-height: normal;
font-size: 25px;
} 
.headerfav img.fav{
transform: translate(46px, 15px);
}
  
.headerfav .textfav{
transform: translate(102px, -26px);
}
.imagem-bioderma{
margin: 30px 0px 0px 30px;
background-image: url(../imagens/bioderma.jpeg);
width: 380px;
height: 256px;
border-radius: 10px;
box-sizing: border-box;
display: inline-block;
    &:hover .post-bioderma{
    width: 380px;
    height: 256px;
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.415);
}
}
.post-bioderma{
font-size: 25px;
font-family: "Heavitas", sans-serif;
text-align:center;
color:white;
opacity:0;
transition: opacity .2s fade;
padding-top: 100px;
}
.imagem-moça-limpando{
    margin: 30px 0px 0px 30px;
    background-image: url(../imagens/moça-limpando.jpeg);
    width: 457px;
    height: 256px;
    border-radius: 10px;
    box-sizing: border-box;
    
        &:hover .post-moça-limpando{
        width: 457px;
        height: 256px;
        border-radius: 10px;
        box-sizing: border-box;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.415);
}
}
    .post-moça-limpando{
    font-size: 25px;
    font-family: "Heavitas", sans-serif;
    text-align:center;
    color:white;
    opacity:0;
    transition: opacity .2s fade;
    padding: 100px;
}
.imagem-peixe{
    margin: -50px 0px 0px 30px;
    background-image: url(../imagens/peixe.jpeg);
    width: 456px;
    height: 256px;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    
        &:hover .post-peixe{
        width: 457px;
        height: 256px;
        border-radius: 10px;
        box-sizing: border-box;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.415);
}
}
    .post-peixe{
    font-size: 25px;
    font-family: "Heavitas", sans-serif;
    text-align:center;
    color:white;
    opacity:0;
    transition: opacity .2s fade;
    padding: 100px;
}
/*Fim favoritos*/

/*Ajustes*/
.headerajustes{
    width: 937px;
    height: 72px;
    padding: 2px 2px 2px 2px;
    border-radius: 8px;
    background-color: #ececec;
    box-sizing: border-box;
    font-family: "Heavitas", sans-serif;
    color: #9e5fef;
    line-height: normal;
    font-size: 25px;    
} 
.headerajustes img.ajustes{
transform: translate(46px, 15px);
}      
.headerajustes .textajustes{
transform: translate(102px, -26px);
}
/*Fim Ajustes*/


  /*Perfil*/
  /*perfil parte de cima*/
  .perfil-cima{
    width: 937px;
    height: 474px;
    border-radius: 14px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
img.fundo-foto-perfil{
    transform: translate(37px, -68px);
}
img.foto-perfil{
    transform: translate(-94px, -78px);
}
h1.User1234{
    font-family: "Heavitas", sans-serif;
    color: #cb218c;
    font-size: 22px;
    transform: translate(57px,-89px);
    font-weight: 500;
}
h2.Nome1234{
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    color: #333333;
    font-size: 20px;
    transform: translate(57px,-105px);
}
h5.dicas-caseiras{
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    transform: translate(57px,-120px);
    font-weight: 400;
}
.descricao-pf{
  font-size: 18px;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  transform: translate(60px, -130px);
}
img.tiktok-rosa{
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    transform: translate(60px,-120px);
}
img.twitter-rosa{
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  transform: translate(70px,-120px);
}
.vis-seguidores{
    width: 166px;
    height: 36px;
    padding: 6px 2px 2px 2px;
    border-radius: 12px;
    background-color: #ffd662;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    color: #4d16bb;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 8px;
    transform: translate(0px,-75px);
    font-weight: 700;
}
.vis-seguindo{
    width: 166px;
    height: 36px;
    padding: 6px 2px 2px 2px;
    border-radius: 12px;
    background-color: #ffd662;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    color: #4d16bb;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    transform: translate(0px,-75px);
    margin-top: 8px;
    font-weight: 700;
}
button.editar-perfil{
    width: 144px;
    height: 36px;
    padding: 2px 2px 2px 2px;
    border-radius: 12px;
    border-style: none;
    background-color: #4d16bb;
    box-sizing: border-box;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    transform: translate(490px,-100px);
}

/*perfil parte de baixo*/
.perfil-baixo{
    padding-top: 15px;
}
.tab-perfil {
  display: flex;
    overflow: hidden;
    width: 927px;
    height: 47px;
    background-color: #ffffff;
  }

  .tab-perfil button {
    background-color: inherit;
    flex-grow: 1;
    border: none;
    outline: none;
    cursor: pointer;
    width: 309px;
    height: 47px;
    padding: 2px 2px 2px 2px;
    transition: 0.3s;
    font-family: "Heavitas", sans-serif;
    background-color: #e0e0e0;
    color: #9e5fef;
    font-size: 21px;
    border-radius: 2px;
    box-sizing: border-box;
  }

  .tab-perfil button:hover {
    background-color: rgba(24, 24, 24, 0.185);
  }

  .tab-perfil button.active {
    background-color: #9e5fef;
    color: white;
  }

  .tabcontent-perfil {
    display: contents;
    width: 309px;
  height: 47px;
  padding: 2px 0px 0px 2px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
    border-top: none;
  }

/*Rascunhos*/
  .rascunhos-esqueleto{  
    width: 926px;
    height: 586px;
    padding: 2px 2px 2px 2px;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }
  .pontilhado-em-volta{
    width: 853px;
    height: 360px;
    padding: 2px 2px 2px 2px;
    border-radius: 10px;
    border: 6px dashed #bababa;
    background-color: rgba(242, 242, 242, 0);
    box-sizing: border-box;
    transform: translate(36.5px, 25px);
  }
  img.gato-sem-rascunhos{
    width: 272px;
    height: 272px;
    opacity: 0.59;
    box-sizing: border-box;
    transform: translate(327px, -300px);
  }
  h2.sem-rascunhos{
    width: 355px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
  font-weight: 700;
  color: #8c8c8c;
  text-align: center;
  line-height: normal;
  transform: translate(285.5px, -365px);
  }
  h2.Comece-por-aqui{
    width: 191px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: #9e5fef;
    text-align: left;
    line-height: normal;
    transform: translate(377.5px, -390px);
  }
  /*Fim de rascunhos*/

  /*Postagens*/
  .postagens-esqueleto{
    width: 926px;
    height: 988px;
    padding: 2px 20px 2px 0px;
    background-color: #f2f2f2;
    box-sizing: border-box;

}
.filtro{
  margin-left: 33px;
}
button.botao-filtro{
  margin: 24px 10px 0px ;
    width: 139px;
    height: 29px;
    padding: 2px 2px 2px 2px;
    border-radius: 7px;
    background-color: rgba(158, 95, 239, 0.13);
    box-sizing: border-box;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #9e5fef;
    text-align: center;
    line-height: normal;
    border-style: none;
      &:hover{
        box-sizing: border-box;
        opacity: 1;
        background-color: #9d5fef3f;
      }
  }
.botao-filtro.active{
        background-color: #9e5fef;
        box-sizing: border-box;
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        font-weight: 700;
        color: #ffffff;
      }
  /*Fim postagens*/

  /*Interações*/
  .interacoes-esqueleto{  
    width: 926px;
    height: 586px;
    padding: 2px 2px 2px 2px;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }
  .heart-icon {
    cursor: pointer;
    transition: fill 0.3s ease-in-out;
}
img.azul{
  content: url(https://files.axshare.com/gsc/V8CDR5/14/98/53/149853897c1d4acaafb2a9e4cf5619cd/images/perfil/u17.svg?pageId=3e54c061-96d3-4029-9a62-74e3821412f8)
}
img.vermelho{
content:url( https://files.axshare.com/gsc/V8CDR5/14/98/53/149853897c1d4acaafb2a9e4cf5619cd/images/perfil/u18.svg?pageId=3e54c061-96d3-4029-9a62-74e3821412f8)
}
.comentario-interacoes{
  width: 835px;
  height: 207px;
  background-color: #ffffff;
}

  /*Fim de interações*/

  /*Sair da conta*/
  img.logosair{
    width: 203px;
    height: 121px;
    box-sizing: border-box;
    transform: translate(100px, 0px);
  }
  h1.sairdaconta{
    width: 337px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #9e5fef;
    text-align: center;
    line-height: normal;
    transform: translate(28px, 0px);
  }
  p.sair{
    width: 337px;
    height: 81px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #626262;
    text-align: left;
    line-height: 27px;
    transform: translate(27px, 0px);
  }
  button.sair{
    width: 338px;
    height: 61px;
    padding: 2px 2px 2px 2px;
    border-radius: 22px;
    background-image: linear-gradient(89.99311970570312deg, #4d16bb 0%, #9d21cb 95.48561645502186%);
    border: none;
    cursor: pointer;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    transform: translate(27px, 0px);
  }
  
  button.cancelarsair{
    width: 338px;
    height: 61px;
    padding: 2px 2px 2px 2px;
    border-radius: 22px;
    border: 3px solid #4d16bb;
    background-color: #f5f5f5;
    box-sizing: border-box;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #4d16bb;
    text-align: center;
    line-height: normal;
    transform: translate(27px, 0px);
  }
  .popupsair{
    width: 391px;
    height: 504px;
    padding: 2px 2px 2px 2px;
    border-radius: 30px;
    border: 4px solid;
    border-color: #4d16bb;
    background-color:#ffffff;
    box-sizing: border-box;
    position: relative;
  }

  .estampasair{
   background-image: url(../imagens/estampagato.png);
   width: 1920px;
   height: 1000px;
    position: absolute;
  }
  /*Fim sair de conta*/

}