@media only screen and (max-width: 480px) {
	* {
		font-family: Heavitas;
		padding: 0;
		margin: 0;
	}

	@font-face {
		font-family: Heavitas;
		src: url("../fonts/Heavitas.ttf");
	}

	@font-face {
		font-family: Fira Sans Bold;
		src: url("../fonts/fira-sans.bold.ttf");
	}

	@font-face {
		font-family: Fira Sans;
		src: url("../fonts/fira-sans.regular.ttf");
	}

	.Footer-Desktop {
		display: none;
	}

	.Footer-Mobile {
		display: block;
	}

	/*footer*/

	.text-email {
		margin-left: 3%;
		margin-right: 1%;
		text-align: center;
		height: 34px;
		width: 55%;
		border: 0px;
		border-radius: 30px;
		font-family: Fira Sans;
		font-weight: 700;
	}

	.text-email::placeholder {
		opacity: 0.5;
		color: #333333;
		font-family: Fira Sans;
	}

	.submit-email {
		margin-right: 2%;
		height: 34px;
		width: 35%;
		background-color: #FFD662;
		color: #4D16BB;
		font-size: 75%;
		padding: 2% 5% 2% 5%;
		border: 0px;
		border-radius: 30px;
	}

	.cadastrese-newsletter {
		display: flex;
		justify-content: space-between;
		margin-top: 2%;
		padding: 0 4% 0 4%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.Newsletter {
		padding: 5% 0 0 0;
		background-color: #4D16BB;
	}

	.mensagem-news {
		color: white;
		font-family: "Heavitas", sans-serif;
		font-size: 16px;
		text-align: center;
		font-weight: 400;
	}

	.Linha-Footer-1 {
		height: 3px;
		width: 100%;
		justify-content: space-around;
		text-align: center;
		border: 1px solid;
		border-color: #FFD662;
		background: #FFD662;
		margin-top: 5%;
	}

	.Linha-Footer-2 {
		height: 1px;
		width: 58%;
		justify-content: space-around;
		text-align: center;
		border: 0.5px solid;
		border-color: white;
		background: white;
		align: center;
		margin: 0 auto 0 0;
		margin-left: 21%;
		margin-right: 21%;
		margin-bottom: 5%;
	}

	.contato-footer {
		font-family: Fira Sans;
		color: #D1C2FA;
		list-style-type: none;
		line-height: 27px;
		font-size: 100%;
		margin-top: 2%;
		margin-bottom: 3%;
		display: flex;
	}

	.conteudo-recente-emalta-rapidas-Dkt {
		width: 1920px;
	}

	.sobre-footer {
		font-family: Fira Sans;
		color: #D1C2FA;
		list-style-type: none;
		line-height: 27px;
		margin-left: 10%;
		margin-right: 10%;
		font-size: 100%;
		margin-top: 2%;
	}

	.img-contato-footer {
		max-width: 6%;
		margin-left: 10%;
		margin-right: 4%;
		margin-top: 1%;
	}

	.titulos-footer {
		margin-left: 10%;
		color: white;
	}

	.footer {
		display: block;
		bottom: 0;
		margin-top: 0%;
		width: 100%;
		background-color: #5417bd;
		background-image: linear-gradient(to right, #5417bd, #9c21cb);
		height: 500px;
		padding-top: 5%
	}

	.logo2 {
		display: flex;
		justify-content: center;
	}

	.logo2 img {
		max-width: 190px;
	}

	.redes {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5%;
		margin-left: 20%;
		margin-right: 20%;
	}

	.redes img {
		max-width: 30px;
		margin-right: 12px;
	}

	.Veja-Mais {
		font-size: 19px;
		padding-top: 5%;
	}

	.limpeza-culinaria {
		display: flex;
	}

	.titulo-veja-mais {
		font-size: 19px;
		text-align: center;
		color: #9e5fef;
		font-weight: 600;
		font-family: Heavitas;
		margin-bottom: 5%;

	}

	.veja-culinaria {
		width: 30%;
		background-color: #cb1154;
		margin-left: 10%;
		margin-right: 3%;
		padding: 25% 3% 2% 5%;
		border-radius: 5px;
		background-image: url(../imagens/fundo-vejamais-culinaria.png);
	}

	.veja-limpeza {
		width: 30%;
		background-color: #027de1;
		padding: 25% 3% 2% 5%;
		border-radius: 5px;
		align-items: right;
		margin-right: 10%;
		background-image: url(../imagens/fundo-vejamais-limpeza.png)
	}

	.veja-bem-estar {
		width: 71%;
		background-color: #00cd83;
		padding: 25% 3% 2% 5%;
		border-radius: 5px;
		align-items: right;
		margin: 3% 10% 5% 10%;
		background-image: url(../imagens/fundo-vejamais-bemestar.png)
	}

	.texto-veja-mais {
		font-size: 17px;
		text-align: right;
		color: white;
		font-weight: 500;
		font-family: Heavitas;
	}

	/*footer fim*/

}

@media only screen and (min-width: 480px) {
	* {
		font-family: Heavitas;
		padding: 0;
		margin: 0;
	}

	@font-face {
		font-family: Heavitas;
		src: url("../fonts/Heavitas.ttf");
	}

	@font-face {
		font-family: Fira Sans Bold;
		src: url("../fonts/fira-sans.bold.ttf");
	}

	@font-face {
		font-family: Fira Sans;
		src: url("../fonts/fira-sans.regular.ttf");
	}

	.Footer-Mobile {
		display: none;
	}

	.Footer-Desktop {
		display: block;
	}

	/*footer*/

	.text-email {
		margin-left: 290px;
		margin-top: -50px;
		text-align: center;
		height: 34px;
		width: 55%;
		border: 0px;
		border-radius: 10px;
		font-family: Fira Sans;
		font-weight: 700;
		position: absolute;
	}

	.text-email::placeholder {
		opacity: 0.5;
		text-align: left;
		color: #333333;
		font-family: Fira Sans;
	}

	.submit-email {
		margin-right: 2%;
		height: 30px;
		width: 170px;
		background-color: #FFD662;
		color: #4D16BB;
		font-size: 75%;
		padding: 0% 2% 0% 2%;
		border: 0px;
		border-radius: 10px;
		position: absolute;
		margin-top: -47px;
		margin-left: 61.2%;
	}

	.cadastrese-newsletter {
		display: flex;
		justify-content: space-between;
		margin-top: 2%;
		padding: 0 4% 0 4%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.Newsletter {
		padding: 2.0% 0 1.5% 0;
		background-color: #4D16BB;
		display: flex;
		border-bottom: 3px solid #FFD662;
	}

	.mensagem-news {
		color: white;
		font-family: "Heavitas", sans-serif;
		font-size: 20px;
		text-align: center;
		font-weight: 400;
		display: flex;
	}

	.Linha-Footer-2 {
		height: 1px;
		width: 58%;
		justify-content: space-around;
		text-align: center;
		border: 0.5px solid;
		border-color: white;
		background: white;
		align: center;
		margin: 0 auto 0 0;
		margin-left: 21%;
		margin-right: 21%;
		margin-bottom: 5%;
	}

	.contato-footer {
		font-family: Fira Sans;
		color: #D1C2FA;
		list-style-type: none;
		line-height: 27px;
		font-size: 100%;
		margin-top: 2%;
		margin-bottom: 3%;
		display: flex;
	}

	.sobre-footer {
		font-family: Fira Sans;
		color: #D1C2FA;
		list-style-type: none;
		line-height: 27px;
		margin-left: 10%;
		margin-right: 10%;
		font-size: 100%;
		margin-top: 2%;
	}

	.img-contato-footer {
		max-width: 6%;
		margin-left: 10%;
		margin-right: 4%;
		margin-top: 1%;
	}

	.titulos-footer {
		margin-left: 10%;
		color: white;
	}

	.footer {
		display: block;
		bottom: 0;
		margin-top: 0%;
		max-width: 1920px;
		background-color: #5417bd;
		background-image: linear-gradient(to right, #5417bd, #9c21cb);
		height: 220px;
		padding: 15px 0% 5% 13%;
	}

	.logo2 {
		display: flex;
		justify-content: center;
	}

	.logo2 img {
		max-width: 190px;
	}

	.redes {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5%;
		margin-left: 20%;
		margin-right: 20%;
	}

	.redes img {
		max-width: 30px;
		margin-right: 12px;
	}

	.Veja-Mais {
		font-size: 19px;
		padding-top: 5%;
	}

	.limpeza-culinaria-bemestar {
		display: flex;
	}

	.titulo-veja-mais {
		font-size: 30px;
		text-align: center;
		color: #9e5fef;
		font-weight: 400;
		font-family: Heavitas;
		margin-bottom: 3%;

	}

	.veja-culinaria {
		width: 23%;
		height: 50px;
		background-color: #cb1154;
		margin-left: 10%;
		margin-right: 3%;
		border-radius: 5px;
		background-image: url(../imagens/fundo-vejamais-culinaria-desktop.png);
		padding-top: 8%;
		padding-right: 2%;
	}

	.veja-limpeza {
		width: 23%;
		height: 50px;
		background-color: #027de1;
		border-radius: 5px;
		align-items: right;
		background-image: url(../imagens/fundo-vejamais-limpeza-desktop.png);
		padding-top: 8%;
		padding-right: 2%;
	}

	.veja-bem-estar {
		width: 23%;
		height: 50px;
		background-color: #00cd83;
		border-radius: 5px;
		align-items: right;
		margin: 0% 0% 3% 3%;
		background-image: url(../imagens/fundo-vejamais-bemestar-desktop.png);
		padding-top: 8%;
		padding-right: 2%;
	}

	.texto-veja-mais {
		font-size: 20px;
		text-align: right;
		color: white;
		font-weight: 500;
		font-family: Heavitas;
	}

	.textos-newsletter {
		margin-left: 14.4%;
	}

	#cadastre-se1 {
		width: 275px;
	}

	#cadastre-se2 {
		width: 275px;
		font-size: 36px;
	}

	.cadastrese-newsletter p {
		position: absolute;
		margin-left: 290px;
		font-size: 20px;
		margin-top: -77px;
		color: #FFD662;
	}

	.logo-footer {
		max-width: 45%;
		margin-left: 3%;
	}

	.logo-center {
		text-align: center;
		margin-bottom: 25px;
	}

	[class*="col-"] {
		float: left;
		padding: 15px;
	}

	.col-4 {
		margin-top: 1%;
		width: 33.33%;
	}

	.col-4 h4 {
		color: white;
		margin-bottom: 15px;
		font-weight: 400;
	}

	.col-5 {
		margin-top: 1%;
		width: 25%;
		position: absolute;
		margin-left: 55%;
	}

	.col-5 h4 {
		color: white;
		margin-bottom: 15px;
		font-weight: 400;
	}

	.icon {
		float: left;
		max-width: 20px;
		margin-right: 10px;
	}

	.redes-footer {
		display: flex;
		justify-content: space-around;
		padding: 0 25px;
		padding-top: 15px;
		border-top: 1px solid white;
		margin-left: 20%;
		width: 50%;
	}

	.redes-footer img {
		max-width: 15%;
	}

	.texto-info-rodape {
		color: #d1c2fa;
		font-family: Fira Sans;
		margin-bottom: 15px;
	}

	/*footer fim*/


}