@media only screen and (max-width: 480px) {
    .postagens-rascunhos-interacoes button{
        width: 33.33%;
        border: none;
        background-color: #e0e0e0;
        color: #9e5fef;
        height: 40px;
    }
    .postagens:hover{
        background-color: #9e5fef;
        color: white;
    }
    .rascunhos:hover{
        background-color: #9e5fef;
        color: white;
    }
    .interacoes:hover{
        background-color: #9e5fef;
        color: white;
    }
    .sem-rescunhos{
        margin-top: 25px;        
        width: 95%;
        border-radius: 10px;
        border: 4px dashed #bababa;
        margin-left: -2.5%;
    }
    .sem-rescunhos img{
        margin-left: 78px;
        width: 60%;
        opacity: 0.5;
    }
    .sem-rescunhos h3{
        color: #7a7a7a;
        font-family: Fira Sans;
        margin-left: 17.5%;
        margin-top: -40px;
        width: 65%;
    }
    .sem-rescunhos h2{
        color: #9e5fef;
        font-family: Fira Sans Bold;
        margin-left: 27.5%;
        width: 45%;
        text-decoration: underline;
        margin-bottom: 50px;
    }

    /* interações ----------------------------------------------------------------------- */
    #base-not-interacoes{
        width: 100vw;
        height: 25vw;
        background-color: aliceblue;
        margin-left: -6.8vw;
        padding-top: 7vw;
        border: 0;
        border-bottom: 1px solid #d7d7d7;
    }

    #foto-perfil-not{
        width: 18vw;
        height: 18vw;
        border-radius: 10vw;
        margin-left: 5vw;
        display: inline-block;
    }

    #descri-interacao{
        display: inline-block;
        margin-left: 3vw;
        margin-top: 4vw;
        position: absolute;
    }

    #nome-do-user{
        color: #333333;
        font-family: Fira Sans, sans-serif;
        font-size: 100%;
        font-weight: 700;
    }

    #tipo-interacao{
        color: #7e7e7e;
        font-family: Fira Sans, sans-serif;
        font-size: 80%;
        font-weight: 500;
    }

    #ver-interacao{
        width: 22vw;
        height: 8vw;
        border: none;
        color: white;
        background-color: #cb218c;
        display: inline-block;
        border-radius: 1vw;
        font-weight: 600;
        font-family: Fira Sans, sans-serif;
        margin-left: 47vw;
        position: absolute;
        margin-top: 4vw;
    }
    /* FINAL interações ----------------------------------------------------------------------- */
}

@media only screen and (min-width: 481px) {
    .tab {
        float: left;
        transform: translate(267px, 150px);
        width: 284px;
        height: 450px;
        padding: 2px 2px 2px 2px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        position: fixed;
      }
      
      .tab button {
        display: block;
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        width: 300px;
        height: 67px;
        padding: 17px 17px 17px 17px;
        color: gray;
        box-sizing: border-box;
        font-family: "Heavitas", sans-serif;
        text-align: left;
        line-height: normal;
        margin-bottom: 28px;
        border-radius: 5px;
        font-size:25px;
      }
      
      .tab button:hover {
        color: grey;
        background-color: rgba(24, 24, 24, 0.185);
      }
      
      .tab button.active {
        width: 300px;
        height: 67px;
        padding: 17px 17px 17px 17px;
        border-radius: 5px;
        background-image: linear-gradient(89.99146929511329deg, #4d16bb 0%, #9d21cb 99.20305052121002%);
        box-sizing: border-box;
        border-style: none;
        font-family: "Heavitas", sans-serif;
        text-align: left;
        line-height: normal;
        color: white;
      }
        
    .mapa-do-site{
        display: flex;
        margin-bottom: 2%;
    }
    .mapa-do-site p{
        font-family: Fira Sans;
    }
    .mapa-1{
        text-decoration: underline;
        margin-right: 7px;
    }
    .mapa-2{
        text-decoration: underline;
        font-weight: Bold;
        color: #9e5fef;
        margin-left: 7px;
    }
    .seta-1{
        margin-right: 7px;
    }
}