@media only screen and (max-width: 480px) {
    * {
      font-family: Heavitas;
      padding: 0;
      margin: 0;
    }
  
    @font-face {
      font-family: Heavitas;
      src: url("../fonts/Heavitas.ttf");
    }
  
    @font-face {
      font-family: Fira Sans Bold;
      src: url("../fonts/fira-sans.bold.ttf");
    }
  
    @font-face {
      font-family: Fira Sans;
      src: url("../fonts/fira-sans.regular.ttf");
    }
  
  .botoes-cancelar-publicar {
    justify-content: space-between;
    display: flex;
    margin-bottom: 6vw;
    border-bottom: 1px solid #909090;
    padding-bottom: 6.66vw;
    width: 100vw;
  }
  
button.cancelarpergunta {
    width: 34%;
    height: 10.1vw;
    margin-left: 5%;
    margin-top: 5%;
    padding: 2px 2px 2px 2px;
    border: 2px solid #4d16bb;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    font-family: Fira Sans Bold;
    font-weight: 700;
    color: #4d16bb;
    text-align: center;
    line-height: normal;
  }


  button.publicarpergunta {
    width: 42%;
    height: 10.1vw;
    margin-right: 5%;
    margin-top: 5%;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    background-image: linear-gradient(89.99311970570312deg, #4d16bb 0%, #9d21cb 95.48561645502186%);
    border: none;
    cursor: pointer;
    font-family: Fira Sans Bold;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: normal;
  }

  /* body criar pergunta */

  #titulo-da-pergunta-mob {
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    font-size: 140%;
    margin-left: 7vw;
  }

  #texto-titulo-da-pergunta-mob {
    width: 82vw;
    height: 9.33vw;
    padding: 2px 2px 2px 2px;
    margin-left: 7vw;
    margin-top: 1.55vw;
    margin-bottom: 7vw;
    font-size: 100%;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    padding-left: 1vw;
    padding-bottom: 2vw;
    color: #333333;
    text-align: left;

    &::-webkit-input-placeholder {
      color: #adadad;
    }

    ;

    input#dialogoselect::-moz-placeholder {
      color: #adadad;
    }

    ;

    &:focus {
      outline: 0;
      border-bottom: 2px #CB218C solid;

      &::-webkit-input-placeholder {
        color: #cb218c;
      }

      ;

      input#dialogoselect::-moz-placeholder {
        color: #cb218c;
      }

      ;
    }
  }

  #icon-seta-select {
    margin-left: -8vw;
    transform: rotate(180deg);
  }


  #dialogoselect {
    margin-left: 7vw;
    padding-left: 1.06vw;
    width: 85vw;
    height: 10.66vw;
    outline: none;
    border-radius: 5px;
    border: 1px solid #979797;
    font-family: "Fira Sans", sans-serif;
    font-size: 130%;

    &:focus {
      background-image: url(../imagens/seta-select.svg);
      background-position-x: 96%;
      background-position-y: 50%;
      background-repeat: no-repeat;

      &::-webkit-input-placeholder {
        color: #cb218c;
        padding-right: -10%
      }

      ;

      input#dialogoselect::-moz-placeholder {
        color: #cb218c;
      }

      ;
      border: 2px #CB218C solid;
      border-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  ::-webkit-input-placeholder {
    color: #333;
  }

  input#dialogoselect::-moz-placeholder {
    color: #333;
  }

  .dropDown-categoria {
    box-sizing: border-box;
    width: 87vw;
    height: 36vw;
    margin-left: 7vw;
    padding-top: 3.2vw;
    padding-left: 12vw;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    font-size: 100%;
    border: 2px #cb218c solid;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none;
  }

  #icon-dropdown {
    width: 8vw;
    height: 8vw;
    position: absolute;
    margin-left: -8vw;
  }

  
  .iconitem-select-detalhes {
    background-color: #f2f2f2;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-size: 100%;
    color: #333333;
    cursor: pointer;
  }

  .item-select-detalhes{
    background-color: #f2f2f2;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-size: 100%;
    color: #333333;
    cursor: pointer;
    position: relative;
    padding-top: 2vw;
    margin-left: 2vw;
  }

  .dialogoselect.categoria-culinaria {
    background-color: #cb2154;
    color: #ffff;
  }

  .dialogoselect.categoria-limpeza {
    background-color: #027de1;
    color: #ffff;
  }

  .dialogoselect.categoria-bemestar {
    background-color: #00cd83;
    color: #ffff;
  }

  #item-select-detalhes-1 {
    margin-bottom: 5.86%;
  }

  #item-select-detalhes-2 {
    margin-bottom: 5.86%;
  }

  #descricao-detalhes-total {
    margin-top: 10vw;
    margin-left: 8vw;
    border: none;
  }

  #titulo-descricao-detalhes {
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    color: #333333;
    margin-bottom: 3vw;
  }

  #descricao-detalhes {
    width: 85vw;
    height: 7.2vw;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    border: 0;
    border: 1px solid #909090;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    color: #000000;
    text-align: left;

    &:focus {
      border: none;
      outline: 2px #CB218C solid;
      color: #000;

      &::-webkit-input-placeholder {
        color: #cb218c;
      }

      ;

      input#dialogoselect::-moz-placeholder {
        color: #cb218c;
      }

      ;
    }
  }

  #titulo-subcategoria-detalhes {
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    color: #333333;
    margin-top: 7vw;
    margin-bottom: 3vw;
  }

  #subcategoria-detalhes-total {
    margin-top: 4.53vw;
    margin-left: 8vw;
    margin-bottom: 7vw;
  }

  .input-container {
    margin-bottom: 10%;
    border: none;
  }

  #input-text-subcategoria {
    display: inline-block;
    width: 87.2vw;
    height: 8.26vw;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    border: 1px solid #909090;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;

    &:focus {
      border: none;
      outline: 2px solid #cb218c;

    }
  }

  #icon {
    display: inline-block;
    width: 5.06vw;
    height: 5.06vw;
    margin-left: -8vw;
    margin-bottom: -1.6vw;
  }

  .message-list {
    width: 82vw;
    height: 9vw;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    margin-top: -7vw;
    border-radius: 5px;
    background-color: #e0e0e0;
    display: flex;
  }

  #div-etiqueta-subcategoria {
    width: relative;
    height: 4.8vw;
    border-radius: 6px;
    background-color: #cb218c;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    color: #ffff;
    text-align: center;
    line-height: normal;
    margin: 0px 1% 0px 1%;
    padding: 0px 1% 1% 1%;
  }
  
}