@media only screen and (max-width: 480px) {
    * {
        font-family: Heavitas;
        padding: 0;
        margin: 0;
    }

    @font-face {
        font-family: Heavitas;
        src: url("../fonts/Heavitas.ttf");
    }

    @font-face {
        font-family: Fira Sans Bold;
        src: url("../fonts/fira-sans.bold.ttf");
    }

    @font-face {
        font-family: Fira Sans;
        src: url("../fonts/fira-sans.regular.ttf");
    }

    .header-dispositivo-mobile {
        display: block;
    }

    .header-dispositivo-desktop {
        display: none;
    }

    /* Header Logado */
    .user {
        margin-top: 5px;
        margin-left: 18px;
        margin-right: -7px;
        position: relative;
        display: inline-block;
    }

    .abrir-menu img {
        max-width: 40px;
        margin-top: 10px;
    }

    .abrir-menu {
        padding: 0 0 0 0;
        border: none;
        background: none;
        max-width: 34px;
    }

    .user-menu {
        position: fixed;
        top: -10px;
        margin-left: -60px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 750px;
        z-index: 103;
    }

    .fechar-menu {
        width: 50px;
        height: 800px;
        margin-left: 100%;
        background: none;
        border: none;
        position: absolute;
    }

    .user-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 97vw;
    }

    .user-menu li {
        padding: 10px;
        text-align: left;
        margin-left: 50px;
        display: flex;
        margin-top: 2%;
        align-items: center;
    }

    .user-menu img {
        max-width: 24px;
        margin-right: 10px;
    }

    .user-menu a {
        text-decoration: none;
        color: #cb218c;
        display: block;
        font-size: 14px;
    }

    .user-menu a:hover {
        background-color: #f0f0f0;

        transition: 1s;

    }

    .ajustes {
        margin-top: 30%;
        margin-bottom: 15px;
        display: inline-block;
        justify-content: space-evenly;
    }

    .bem-vindo {
        border-bottom: #cb218c solid 2px;
        display: flex;
        height: 100px;
    }

    .bem-vindo img {
        max-width: 45px;
        margin-top: 32px;
        margin-left: 50px;
    }

    .bem-vindo span {
        font-size: 14px;
        font-family: Fira Sans;
        font-weight: bold;
        top: -10px;
        color: #000000;
    }

    .colnm2 {
        margin-top: 35px;
    }

    .nome span {
        color: #cb218c;
        font-size: 15px;
    }

    .logos {
        display: flex;
        justify-content: space-around;
        height: 70px;
        box-shadow: 1px 5px 5px rgb(173, 173, 173);
        background-color: white;
    }

    .logo {
        margin-top: 5px;
        margin-right: 50px;
        margin-left: 50px;

    }

    .logo img {
        max-width: 50px;
        margin-top: 5px;
        align-self: center;
    }

    .search {
        margin-top: 22px;
        margin-right: 13px;
    }

    .search img {
        width: 26px;
    }

    .login {
        margin-top: 9px;
        margin-left: 18px;
        margin-right: -7px;
        position: relative;
        display: inline-block;
    }

    .login img {
        max-width: 34px;
        margin-top: 10px;
    }

    .topcs {
        background-color: #5417bd;
        background-image: linear-gradient(to right, #5417bd, #9d21cb);
        display: flex;
        justify-content: center;
        justify-content: space-around;
        height: 38px;
    }

    .topcs a {
        text-decoration: none;
        color: white;
        margin-top: 9px;
        font-size: 14px;
    }

    .culinaria {
        margin-left: 13.14px;
        font-family: Fira Sans Bold;
        font-weight: 700;
        margin-top: 12px;
    }

    .bem-estar {
        margin-right: 8.59px;
        font-family: Fira Sans Bold;
        margin-top: 12px;
        font-weight: 700;
    }

    .limpeza {
        font-family: Fira Sans Bold;
        text-align: center;
        margin-top: 12px;
        font-weight: 700;
    }

    .notificacoes-header {
        color: white;
        background: #cb218c;
        border-radius: 100px;
        text-align: center;
        height: 23px;
        width: 23px;
        font-size: 15px;
        padding-top: 4px;
        padding-left: 5px;
        display: flex;
        margin-left: 30px;
        position: absolute;
        margin-top: 5px;
    }

    /*header logado fim*/

    .floating {
        height: 4em;
        width: 4em;
        background: #eee;
        border-radius: 50%;
        position: fixed;
        bottom: 2em;
        right: 2em;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 20px;
        z-index: 102;
    }

    .floating .material-icons {
        font-size: 3em;
        color: white;
    }

    .floating-main {
        position: absolute;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #cb218c;
        opacity: 1;
        transition: all, 0.2s;
        z-index: 102;
    }

    .float-opt {
        position: absolute;
        height: 90%;
        width: 90%;
        border-radius: 50%;
        opacity: 0;
        transition: all, 0.2s;
        z-index: 7;
        transform: translate(0%, 0%);
        text-align: center;
    }

    .float-opt img {
        height: 35px;
        margin-top: 18px;
    }

    .opt-text {
        background: #ffd662;
        height: 70px;
        width: 70px;
    }

    .opt-media {
        background: #ffd662;
        height: 70px;
        width: 70px;
    }

    .float-open {
        background-image: linear-gradient(to top, gray, transparent);
    }

    .float-open .floating-main {
        transform: rotate(45deg);
        opacity: 1;
    }

    .float-open .float-opt {
        opacity: 1;
    }

    .float-open .opt-text {
        transform: translate(0%, -130%);
    }

    .float-open .opt-media {
        transform: translate(0%, -250%);
    }

}

@media only screen and (min-width: 480px) {
    * {
        font-family: Heavitas;
        padding: 0;
        margin: 0;
    }

    @font-face {
        font-family: Heavitas;
        src: url("../fonts/Heavitas.ttf");
    }

    @font-face {
        font-family: Fira Sans Bold;
        src: url("../fonts/fira-sans.bold.ttf");
    }

    @font-face {
        font-family: Fira Sans;
        src: url("../fonts/fira-sans.regular.ttf");
    }

    .header-dispositivo-mobile {
        display: none;
    }

    .header-dispositivo-desktop {
        display: block;
    }

    a:link{
        text-decoration: none;
    }
    /* Header Logado */
    .user {
        margin-top: 9px;
        margin-left: 13px;
        margin-right: -7px;
        position: relative;
        display: flex;
    }

    .user img {
        height: 50px;
        margin-top: 10px;
    }

    .abrir-menu {
        width: 50px;
        margin-top: 10px;
    }

    .abrir-menu {
        padding: 0 0 0 0;
        border: none;
        background: none;
        max-width: 34px;
    }

    .user-menu {
        position: absolute;
        top: -10px;
        margin-left: -60px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 700px;
    }

    .fechar-menu {
        width: 50px;
        height: 800px;
        margin-left: 100%;
        background: none;
        border: none;
        position: absolute;
    }

    .user-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 97vw;
    }

    .user-menu li {
        padding: 10px;
        text-align: left;
        margin-left: 50px;
        display: flex;
        margin-top: 2%;
        align-items: center;
    }

    .user-menu img {
        max-width: 50px;
        margin-right: 10px;
    }

    .user-menu a {
        text-decoration: none;
        color: #cb218c;
        display: block;
        font-size: 14px;
    }

    .user-menu a:hover {
        background-color: #f0f0f0;

        transition: 1s;

    }

    .ajustes {
        margin-top: 30%;
        margin-bottom: 15px;
        display: inline-block;
        justify-content: space-evenly;
    }

    .bem-vindo {
        border-bottom: #4D16BB;
        border-bottom-style: double;
        display: flex;
        height: 100px;
    }

    .bem-vindo img {
        max-width: 45px;
        margin-top: 32px;
        margin-left: 50px;
    }

    .bem-vindo span {
        font-size: 14px;
        font-family: Fira Sans;
        font-weight: bold;
        top: -10px;
        color: #000000;
    }

    .colnm2 {
        margin-top: 35px;
    }

    .nome span {
        color: #cb218c;
        font-size: 15px;
    }

    .logos {
        display: flex;
        justify-content: space-around;
        height: 85px;
        box-shadow: 1px 5px 5px rgb(173, 173, 173);
        background-color: white;
    }

    .logo {
        margin-top: 5px;
        margin-right: 50px;
        margin-left: 50px;

    }

    .logo img {
        max-width: 65px;
        margin-top: 5px;
        align-self: center;
    }

    .search {
        margin-top: 22px;
        margin-right: 18px;
    }

    .search img {
        width: 37px;
    }

    .login {
        margin-top: 9px;
        margin-left: 13px;
        margin-right: -7px;
        position: relative;
        display: inline-block;
    }

    #img-login {
        max-width: 50px;
        margin-top: 10px;
    }

    .topcs {
        background-color: #5417bd;
        background-image: linear-gradient(to right, #5417bd, #9d21cb);
        display: flex;
        justify-content: space-around;
        height: 43px;
    }

    .topcs a {
        text-decoration: none;
        color: white;
        margin-top: 9px;
        font-size: 20px;
    }

    .culinaria {
        margin-left: 280px;
        font-family: Fira Sans Bold;
        font-weight: 700;
        margin-top: 12px;
    }

    .bem-estar {
        margin-right: 270px;
        font-family: Fira Sans Bold;
        margin-top: 12px;
        font-weight: 700;
    }

    .limpeza {
        font-family: Fira Sans Bold;
        text-align: center;
        margin-top: 12px;
        font-weight: 700;
    }

    #hide-hover-span {
        display: none;
        position: absolute;
        color: #474747;
        text-align: center;
        margin-top: -46px;
        width: 200px;
        margin-left: 70px;
    }

    #hide-hover-span p {
        text-align: left;
        font-family: Fira Sans Bold;
    }

    .p-1 {
        font-size: 14px;
        width: 200px;
    }

    .p-2 {
        font-size: 18px;
        margin-top: -25px;
        width: 200px;
    }

    #hide-hover-search {
        display: none;
        position: absolute;
        color: #474747;
        text-align: center;
        margin-top: -28px;
        width: 200px;
        margin-left: -220px;
    }

    #hide-hover-search input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #9d21cb;
        font-family: Fira Sans;
        font-size: 17px;
    }

    /*header logado fim*/
    .notificacoes-header {
        color: white;
        background: #cb218c;
        border-radius: 100px;
        text-align: center;
        height: 23px;
        width: 23px;
        font-size: 15px;
        padding-top: 4px;
        padding-left: 5px;
        display: flex;
        margin-left: 30px;
        position: absolute;
        margin-top: 10px;
    }

    #hide-menu-lateral {
        display: none;
        position: absolute;
        color: #474747;
        text-align: center;
        margin-top: -46px;
        width: 200px;
        margin-left: 70px;
    }

    .img-user {
        height: 50px;
    }

    .usuario-menu {
        margin-top: 9px;
        margin-left: 2%;
        margin-right: -7px;
        position: relative;
        display: inline-block;
    }

    .texto-bemvindo {
        position: absolute;
        margin-top: 25px;
    }

    .texto-bemvindo p {
        font-family: Fira Sans Bold;
        color: #474747;
        margin-left: -560px;
        white-space: nowrap;
    }

    .menu {
        display: none;
        position: absolute;
        background-color: white;
        color: #cb218c;
        list-style: none;
        padding: 0;
        width: 300px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.294);
        border-radius: 0 0 5px 5px;
        z-index: 100;
    }

    .menu li {
        padding: 15px 10px 10px 10px;
        cursor: pointer;
        height: 25px;
    }

    .menu li:hover {
        background-color: #ffd662;
    }

    .floating {
        height: 5em;
        width: 5em;
        background: #eee;
        border-radius: 50%;
        position: fixed;
        bottom: 2em;
        right: 2em;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 70px;
        margin-bottom: 50px;
        z-index: 102;
    }

    .floating .material-icons {
        font-size: 3em;
        color: white;
    }

    .floating-main {
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #cb218c;
        opacity: 1;
        transition: all, 0.2s;
        z-index: 102;
    }

    .float-opt {
        position: absolute;
        height: 90%;
        width: 90%;
        border-radius: 50%;
        opacity: 0;
        transition: all, 0.2s;
        z-index: 7;
        transform: translate(0%, 0%);
        text-align: center;
    }

    .float-opt img {
        height: 50px;
        margin-top: 25px;
    }

    .opt-text {
        background: #ffd662;
        height: 100px;
        width: 100px;
    }

    .opt-media {
        background: #ffd662;
        height: 100px;
        width: 100px;
    }

    .float-open {
        background-image: linear-gradient(to top, gray, transparent);
    }

    .float-open .floating-main {
        transform: rotate(45deg);
        opacity: 1;
    }

    .float-open .float-opt {
        opacity: 1;
    }

    .float-open .opt-text {
        transform: translate(0%, -130%);
    }

    .float-open .opt-media {
        transform: translate(0%, -250%);
    }

}