@media only screen and (max-width: 480px) {
    * {
      margin: 0;
      padding: 0;
  }
  .conteudo.mobile{
    display: block;
    width: 100vw;
   }
   
   .conteudo.desktop{
    display: none;
   }
   .logos {
    display: flex;
    justify-content: space-around;
    height: 70px;
    }
    
    .logo {
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 50px;
    
    }
    .logo img {
    max-width: 50px;
    margin-top: 5px;
    align-self: center;
    }
    .search {
    margin-top: 22px;
    margin-right: 13px;
    }
    .search img {
    max-width: 26px;
    }
    .login {
    margin-top: 9px;
    margin-left: 18px;
    margin-right: -7px;
    position: relative;
    display: inline-block;
    }
    .login img {
    max-width: 34px;
    margin-top: 10px;    
    }
    .topcs {
    background-color:  #cb1154;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 38px;
    }
    a {
    text-decoration: none;
    color: white;
    margin-top: 9px;
    font-size: 14px;
    }
    .culinaria {
    margin-left: 13.14px;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    margin-top: 12px;
    }
    .bem-estar {
    margin-right: 8.59px;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    margin-top: 12px;
    font-weight: 700;
    }
    .limpeza{
        font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
        text-align: center;
        margin-top: 12px;
        font-weight: 700;
    }
    a.mapculinaria{
        text-align: center;
        width: 146px;
        height: 26px;
        
      }