@media only screen and (min-width: 480px) {
.postagens{
    display: flex;
  }
  .postagens1{
    margin-left: 18%;
    width: 385px;
  }
  .postagens2{
    margin-left: 25px;
    width: 385px;
  }
  .postagens3{
    margin-left: 25px;
    width: 385px;
  }
  .postagens1-B{
    margin-left: 25px;
    width: 385px;
  }
  .postagens2-B{
    margin-left: 18%;
    width: 385px;
  }
  .postagens3-B{
    margin-left: 25px;
    width: 385px;
  }
  .postagens1-C{
    margin-left: 25px;
    width: 385px;
  }
  .postagens2-C{
    margin-left: 25px;
    width: 385px;
  }
  .postagens3-C{
    margin-left: 18%;
    width: 385px;
  }
  .post1{
    position: relative;
    width: 385px;
  }
  .info-cima-post{
    position: absolute;
  }
  .post1 h1{
    margin-top: 300px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-culinaria-branco{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
  }
  #icon-culinaria-branco-C{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
  }
  .legenda{
    display: flex;
    width: 385px;
  }
  .legenda img{
    margin-top: 350px;
    height: 30px;
  }
  .legenda h3{
    margin-top: 355px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .relogio{
    margin-left: 40px;
  }
  .relogio h3{
    margin-left: 10px;
    width: 60px;
  }
  
  .estrela{
    margin-left: 40px;
  }
  .estrela h3{
    margin-left: 10px;
  }
  .partes{
    margin-right: 40px;
    margin-left: 40px;
  }
  .partes h3{ 
    margin-left: 10px;
  }
  .hover-post1{
    display: none;
    background-color: #cb215483;
    width: 305px;
    height: 338px;
    position: absolute;
    margin-top: -380px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post1 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 125px;
    margin-right: 0;
  }
  .post1:hover + .hover-post1 {
    display: block;
    transition: 1s;
  }
  .post1:hover + .info-cima-post {
    display: none;
  }
  .post1:hover + .info-cima-post {
    display: none;
  }
  .post1 img{
    border-radius: 10px 10px 0 0;
  }
  
  /*post2*/
  .post2{
    margin-top: 30px;
    width: 32%;
  }
  .post2 h1{
    margin-top: 390px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-culinaria-branco2{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-culinaria-branco2-B{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-culinaria-branco2-C{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post2{
    display: none;
    background-color: #cb215483;
    max-width: 385px;
    height: 428px;
    position: absolute;
    margin-top: -470px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post2 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 145px;
    margin-right: 0;
    width: 305px;
  }
  .legenda2{
    display: flex;
    width: 385px;
  }
  .legenda2 img{
    margin-top: 440px;
    height: 30px;
  }
  .legenda2 h3{
    margin-top: 445px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .post2 img{
    border-radius: 10px 10px 0 0;
  }
  
  /*post3*/
  .post3{
    margin-top: 30px;
    width: 32%;
  }
  .post3 h1{
    margin-top: 176px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-limpeza-branco3{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-limpeza-branco3-B{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-limpeza-branco3-C{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post3{
    display: none;
    background-color: #027DE183;
    max-width: 385px;
    height: 214px;
    position: absolute;
    margin-top: -255px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post3 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    margin-right: 0;
    width: 305px;
  }
  .legenda3{
    display: flex;
    width: 385px;
  }
  .legenda3 img{
    margin-top: 226px;
    height: 30px;
  }
  .legenda3 h3{
    margin-top: 231px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .estrela3{
    margin-left: 0;
  }
  .relogio3{
    margin-left: 80px;
  }
  .relogio3 h3{
    margin-left: 10px;
    width: 60px;
  }
  .estrela3 h3{
    margin-left: 10px;
  }
  .post3 img{
    border-radius: 10px 10px 0 0;
  }
  
  /*post4*/
  .post4{
    margin-top: 30px;
    width: 32%;
  }
  .post4 h1{
    margin-top: 176px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-limpeza-branco4{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-limpeza-branco4-B{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-limpeza-branco4-C{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post4{
    display: none;
    background-color: #00cd8383;
    max-width: 385px;
    height: 214px;
    position: absolute;
    margin-top: -255px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post4 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 90px;
    margin-right: 0;
    width: 305px;
  }
  .legenda4{
    display: flex;
    width: 385px;
  }
  .legenda4 img{
    margin-top: 226px;
    height: 30px;
  }
  .legenda4 h3{
    margin-top: 231px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .estrela4{
    margin-left: 0;
  }
  .relogio4{
    margin-left: 80px;
  }
  .relogio4 h3{
    margin-left: 10px;
    width: 60px;
  }
  .estrela4 h3{
    margin-left: 10px;
  }
  .post4 img{
    border-radius: 10px 10px 0 0;
  }
  
  /*post5*/
  .post5{
    width: 32%;
  }
  .post5 h1{
    margin-top: 176px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-limpeza-branco5{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-limpeza-branco5-B{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-limpeza-branco5-C{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post5{
    display: none;
    background-color: #00cd8383;
    max-width: 385px;
    height: 214px;
    position: absolute;
    margin-top: -255px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post5 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 90px;
    margin-right: 0;
    width: 305px;
  }
  .legenda5{
    display: flex;
    width: 385px;
  }
  .legenda5 img{
    margin-top: 226px;
    height: 30px;
  }
  .legenda5 h3{
    margin-top: 231px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .estrela5{
    margin-left: 0;
  }
  .relogio5{
    margin-left: 80px;
  }
  .relogio5 h3{
    margin-left: 10px;
    width: 60px;
  }
  .estrela5 h3{
    margin-left: 10px;
  }
  .post5 img{
    border-radius: 10px 10px 0 0;
  }
  
  /*post6*/
  .post6{
    margin-top: 30px;
    width: 32%;
  }
  .post6 h1{
    margin-top: 276px;
    margin-left: 10px;
    width: 295px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-limpeza-branco6{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-limpeza-branco6-B{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-limpeza-branco6-C{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post6{
    display: none;
    background-color: #027DE183;
    max-width: 385px;
    height: 338px;
    position: absolute;
    margin-top: -380px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post6 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
    margin-right: 0;
    width: 305px;
  }
  .legenda6{
    display: flex;
    width: 385px;
  }
  .legenda6 img{
    margin-top: 350px;
    height: 30px;
  }
  .legenda6 h3{
    margin-top: 355px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .estrela6{
    margin-left: 0;
  }
  .relogio6{
    margin-left: 80px;
  }
  .relogio6 h3{
    margin-left: 10px;
    width: 60px;
  }
  .estrela6 h3{
    margin-left: 10px;
  }
  .post6 img{
    border-radius: 10px 10px 0 0;
  }
  #texto-atras6{
    width: 310px;
  }
  
  /*post7*/
  .post7{
    margin-top: 30px;
    width: 32%;
  }
  .post7 h1{
    margin-top: 390px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-culinaria-branco7{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-culinaria-branco7-B{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-culinaria-branco7-C{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post7{
    display: none;
    background-color: #cb215483;
    max-width: 385px;
    height: 428px;
    position: absolute;
    margin-top: -470px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post7 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 170px;
    margin-right: 0;
    width: 305px;
  }
  .legenda7{
    display: flex;
    width: 385px;
  }
  .legenda7 img{
    margin-top: 440px;
    height: 30px;
  }
  .legenda7 h3{
    margin-top: 445px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .post7 img{
    border-radius: 10px 10px 0 0;
  }
  
  /*post8*/
  .post8{
    margin-top: 30px;
    width: 32%;
  }
  .post8 h1{
    margin-top: 276px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-limpeza-branco8{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-limpeza-branco8-B{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-limpeza-branco8-C{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post8{
    display: none;
    background-color: #027DE183;
    max-width: 385px;
    height: 338px;
    position: absolute;
    margin-top: -380px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post8 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
    margin-right: 0;
    width: 305px;
  }
  .legenda8{
    display: flex;
    width: 385px;
  }
  .legenda8 img{
    margin-top: 350px;
    height: 30px;
  }
  .legenda8 h3{
    margin-top: 355px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .estrela8{
    margin-left: 0;
  }
  .relogio8{
    margin-left: 80px;
  }
  .relogio8 h3{
    margin-left: 10px;
    width: 60px;
  }
  .estrela8 h3{
    margin-left: 10px;
  }
  .post8 img{
    border-radius: 10px 10px 0 0;
  }
  #texto-atras8{
    width: 310px;
  }
  
  
  /*post9*/
  .post9{
    width: 32%;
  }
  .post9 h1{
    margin-top: 390px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-limpeza-branco9{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-limpeza-branco9-B{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  
  #icon-limpeza-branco9-C{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post9{
    display: none;
    background-color: #027DE183;
    max-width: 385px;
    height: 428px;
    position: absolute;
    margin-top: -470px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post9 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 175px;
    margin-right: 0;
    width: 305px;
  }
  .legenda9{
    display: flex;
    width: 385px;
  }
  .legenda9 img{
    margin-top: 440px;
    height: 30px;
  }
  .legenda9 h3{
    margin-top: 445px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .post9 img{
    border-radius: 10px 10px 0 0;
  }
  .relogio9{
    margin-left: 80px;
  }
  .relogio9 h3{
    margin-left: 10px;
    width: 60px;
  }
  .estrela9 h3{
    margin-left: 10px;
  }
  
  /*post10*/
  .post10{
    margin-top: 30px;
    width: 32%;
  }
  .post10 h1{
    margin-top: 176px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-bemestar-branco10{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-bemestar-branco10-B{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-bemestar-branco10-C{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post10{
    display: none;
    background-color: #00cd8383;
    max-width: 385px;
    height: 214px;
    position: absolute;
    margin-top: -255px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post10 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
    margin-right: 0;
    width: 305px;
  }
  .legenda10{
    display: flex;
    width: 385px;
  }
  .legenda10 img{
    margin-top: 226px;
    height: 30px;
  }
  .legenda10 h3{
    margin-top: 231px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .estrela10{
    margin-left: 0;
  }
  .relogio10{
    margin-left: 80px;
  }
  .relogio10 h3{
    margin-left: 10px;
    width: 60px;
  }
  .estrela10 h3{
    margin-left: 10px;
  }
  .post10 img{
    border-radius: 10px 10px 0 0;
  }
  /*post11*/
  .post11{
    margin-top: 30px;
    width: 32%;
  }
  .post11 h1{
    margin-top: 300px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-culinaria-branco11{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-culinaria-branco11-B{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-culinaria-branco11-C{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post11{
    display: none;
    background-color: #cb215483;
    max-width: 385px;
    height: 338px;
    position: absolute;
    margin-top: -380px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post11 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 90px;
    margin-right: 0;
    width: 305px;
  }
  .legenda11{
    display: flex;
    width: 385px;
  }
  .legenda11 img{
    margin-top: 350px;
    height: 30px;
  }
  .legenda11 h3{
    margin-top: 355px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .post11 img{
    border-radius: 10px 10px 0 0;
  }
  
  /*post12*/
  .post12{
    width: 32%;
    margin-top: 30px;
  }
  .post12 h1{
    margin-top: 390px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-bemestar-branco12{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-bemestar-branco12-B{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-bemestar-branco12-C{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post12{
    display: none;
    background-color: #00cd8383;
    max-width: 385px;
    height: 428px;
    position: absolute;
    margin-top: -470px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post12 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 190px;
    margin-right: 0;
    width: 305px;
  }
  .legenda12{
    display: flex;
    width: 385px;
  }
  .legenda12 img{
    margin-top: 440px;
    height: 30px;
  }
  .legenda12 h3{
    margin-top: 445px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .post12 img{
    border-radius: 10px 10px 0 0;
  }
  .relogio12{
    margin-left: 80px;
  }
  .relogio12 h3{
    margin-left: 10px;
    width: 60px;
  }
  .estrela12 h3{
    margin-left: 10px;
  }
  .estrela12{
    margin-left: 0;
  }
  .salvar-post1{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post1 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre1{
    display: none;
  }
  .salvar-post2{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post2 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre2{
    display: none;
  }
  
  .salvar-post3{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post3 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre3{
    display: none;
  }
  
  .salvar-post4{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post4 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre4{
    display: none;
  }
  
  .salvar-post5{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post5 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre5{
    display: none;
  }
  
  .salvar-post6{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post6 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre6{
    display: none;
  }
  
  .salvar-post7{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post7 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre7{
    display: none;
  }
  
  .salvar-post8{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post8 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre8{
    display: none;
  }
  
  .salvar-post9{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post9 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre9{
    display: none;
  }
  
  .salvar-post10{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post10 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre10{
    display: none;
  }
  
  .salvar-post11{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post11 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre11{
    display: none;
  }
  
  .salvar-post12{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post12 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre12{
    display: none;
  }
  .carregar{
    cursor: pointer;
    margin-top: 30px;
    width: 14%;
    justify-content: space-around;
    margin-left: 43%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #cb218c;
    color: white;
  }
  
  
  /*post13*/
  .post13{
    margin-top: 30px;
    width: 32%;
  }
  .post13 h1{
    margin-top: 300px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-culinaria-branco13{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-culinaria-branco13-B{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-culinaria-branco13-C{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post13{
    display: none;
    background-color: #cb215483;
    max-width: 385px;
    height: 338px;
    position: absolute;
    margin-top: -380px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post13 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 160px;
    margin-right: 0;
    width: 305px;
  }
  .legenda13{
    display: flex;
    width: 385px;
  }
  .legenda13 img{
    margin-top: 350px;
    height: 30px;
  }
  .legenda13 h3{
    margin-top: 355px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .post13 img{
    border-radius: 10px 10px 0 0;
  }
  .salvar-post13{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post13 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre13{
    display: none;
  }
  
  /*post14*/
  .post14{
    margin-top: 30px;
    width: 32%;
  }
  .post14 h1{
    margin-top: 390px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-bemestar-branco14{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-bemestar-branco14-B{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-bemestar-branco14-C{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  .hover-post14{
    display: none;
    background-color: #00cd8383;
    max-width: 385px;
    height: 428px;
    position: absolute;
    margin-top: -470px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post14 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 160px;
    margin-right: 0;
    width: 305px;
  }
  .legenda14{
    display: flex;
    width: 385px;
  }
  .legenda14 img{
    margin-top: 440px;
    height: 30px;
  }
  .legenda14 h3{
    margin-top: 445px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .post14 img{
    border-radius: 10px 10px 0 0;
  }
  .salvar-post14{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post14 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre14{
    display: none;
  }
  .relogio14{
    margin-left: 80px;
  }
  .relogio14 h3{
    margin-left: 10px;
    width: 60px;
  }
  .estrela14 h3{
    margin-left: 10px;
  }
  .estrela14{
    margin-left: 0;
  }
  
  /*post15*/
  .post15{
    margin-top: 30px;
    width: 32%;
  }
  .post15 h1{
    margin-top: 390px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-bemestar-branco15{
    height: 40px;
    margin-top: 375px;
    margin-left: 330px;
    position: absolute;
  }
  .legenda15{
    display: flex;
    width: 385px;
  }
  .legenda15 img{
    margin-top: 440px;
    height: 30px;
  }
  .legenda15 h3{
    margin-top: 445px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .post15 img{
    border-radius: 10px 10px 0 0;
  }
  .salvar-post15{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 15px;
    margin-left: 300px;
  }
  .salvar-post15 img{
    position: absolute;
    height: 30px;
    width: 30px;
    pointer-events: none;
    border-radius: 0;
  }
  #favorito-pre15{
    display: none;
  }
  .relogio15{
    margin-left: 80px;
  }
  .relogio15 h3{
    margin-left: 10px;
    width: 60px;
  }
  .estrela15 h3{
    margin-left: 10px;
  }
  .estrela15{
    margin-left: 0;
  }
  
  /*post15*/
  .post15{
    margin-top: 30px;
    width: 32%;
  }
  .post15 h1{
    margin-top: 176px;
    margin-left: 10px;
    font-family: Fira Sans Bold;
    color: white;
  }
  #icon-culinaria-branco15{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-culinaria-branco15-B{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-culinaria-branco15-C{
    height: 40px;
    margin-top: 161px;
    margin-left: 330px;
    position: absolute;
  }
  #icon-culinaria-branco-B{
    height: 40px;
    margin-top: 285px;
    margin-left: 330px;
  }
  .hover-post15{
    display: none;
    background-color: #cb215483;
    max-width: 385px;
    height: 214px;
    position: absolute;
    margin-top: -255px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hover-post15 h3{
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 90px;
    margin-right: 0;
    width: 305px;
  }
  .legenda15{
    display: flex;
    width: 385px;
  }
  .legenda15 img{
    margin-top: 226px;
    height: 30px;
  }
  .legenda15 h3{
    margin-top: 231px;
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333;
  }
  .estrela15{
    margin-left: 0;
  }
  .relogio15{
    margin-left: 80px;
  }
  .relogio15 h3{
    margin-left: 10px;
    width: 60px;
  }
  .estrela15 h3{
    margin-left: 10px;
  }
  .post15 img{
    border-radius: 10px 10px 0 0;
  }
}