@media only screen and (max-width: 480px) {
.conteudo-dispositivo.desktop{
    display: none;
}
.gato-esticado{
    transform: translate(-30px,-10px);
    width: 450px;
    height: 80px;
}
.imagem-perfil-mob{
    width: 90px;
    height: 90px;
    transform: translate(30px, -55px);
}
h1.User1234{
    font-family: "Heavitas", sans-serif;
    color: #cb218c;
    font-size: 16px;
    transform: translate(140px,-115px);
    font-weight: 500;
}
h2.Nome1234{
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 600;
    color: #333333;
    font-size: 15px;
    transform: translate(140px,-130px);
}
.segui-mob{
    font-family:  "Fira Sans", sans-serif;
    color: #333333;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
}
.segui{
    margin-bottom: -18px;
}
.primeiro-segui{
    transform: translate(-150px, -124px);
}

.segundo-segui{
    transform: translate(-39px, -172px);
}

.terceiro-segui{
    transform: translate(64px, -222px);
}

button.editar-perfil{
    width: 340px;
    height: 30px;
    padding: 2px 2px 2px 2px;
    border-radius: 10px;
    border-style: none;
    background-color: #4d16bb;
    box-sizing: border-box;
    font-family: "Heavitas", sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    transform: translate(20px, -220px);
    font-size: 12px;
}

.perfil-baixo{
    width: 410px;
    height: 720px;
    padding: 2px 2px 2px 2px;
    background-color: #e8e8e8;
    box-sizing: border-box;
    transform: translate(-10px, -190px);
}

.headerfav{
    box-sizing: border-box;
    font-family: "Heavitas", sans-serif;
    color: #9e5fef;
    line-height: normal;
    font-size: 20px;
} 

.headerfav img.fav{
transform: translate(60px, 15px);
}

.headerfav .textfav{
transform: translate(110px, -26px);
}

img.filtro-icon{
transform: translate(450px, -56px);
width: 35px;
height: 35px;
}

#post{
position: relative;
}

#dispensa{
position: absolute;
}

#sombra{
top: 88px;
width: 176px;
height: 85px;
opacity: 0.4;
padding: 2px 2px 2px 2px;
border-radius: 5px;
background-image: linear-gradient(-180deg, rgba(242, 242, 242, 0) 0%, #000000 95%);
box-sizing: border-box;
position: absolute;
}

#descri-post{
position: absolute;
font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
font-weight: 700;
font-size: 16px;
color: #ffffff;
left: 8px;
top: 116px;
}

#post-baixo{
height: 40px;
width: 176px;
display: flex;
position: absolute;
top: 50%;
padding: 10px 10px 10px 10px;
align-content: center;
}

#icon-post{
width: 18px;
height: 18px;
margin-right: 4px;
}

#descri-icon{
margin: 0;
margin-right: 9px;
font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
font-weight: 700;
font-size: 15px;
color: #333333;
text-align: left;
line-height: normal;
}
}